
location ~ /pages/(.*) {
  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/pages/;
  try_files /$1 /$1/index.html =404;
}

#location ~ /assets/(.*) {
#  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/assets/;
#  try_files /$1 =404;
#}
#
#location ~ /css/(.*) {
#  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/css/;
#  try_files /$1 =404;
#}
#
#location ~ /js/(.*) {
#  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/js/;
#  try_files /$1 =404;
#}

location = / {
  try_files /index.html /pages/under-construction.html;
}

location ~ /(.*) {
  try_files /$1 /$1/index.html =404;
}
