include ./sites/grantdash/upstream.config;

server {
  server_name grantdash.dev;
  include ./sites/grantdash/http.config;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/;
}

server {
  server_name grantdash.dev;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/;
  include ./sites/grantdash/https.config;
  include ./sites/grantdash/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/grantdash.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/grantdash.dev/server.key;
}

include ./sites/grantdash/custom-domains/*.config;
