include ./sites/grantdash.io/modules/upstream.config;

server {
  server_name grantdash.io;
  include ./sites/grantdash.io/modules/http.config;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/;
}

server {
  server_name grantdash.dev;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/grantdash.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/grantdash.dev/server.key;

  # grantdash only. for shorthand url
  location ~ ^/(.*) {
   root /Users/tkirby/workspace/zbryikt/grantdash/server/static/;
   try_files /$1 /$1/index.html @viewserver;
  }

  include ./sites/grantdash.io/domains/dev.config;
}

include ./sites/grantdash.io/domains/dev/*.config;
