listen 443;
ssl on;
ssl_protocols TLSv1.2;
charset utf-8;

error_page 400 /err/400.html;
error_page 403 /err/403.html;
error_page 404 /err/404.html;
error_page 500 /err/500.html;
error_page 502 /err/502.html;

# prevent rendered in iframe / embed / object.
add_header X-Frame-Options "SAMEORIGIN";

# empty response
location = /empty {
  internal;
  return 200 "";
}
error_page 423 /empty;

# empty response, with 404
location = /empty/404 {
  internal;
  default_type text/plain;
  return 404 " ";
}

##### Websocket Configuration ( for Sharedb ) #####

location ~ ^/dash/ws$ {
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $host;
  proxy_pass http://grantdash-api;
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
  proxy_connect_timeout 30m;
  proxy_send_timeout 30m;
  proxy_read_timeout 30m;
}

location = /dash/api/global {
  proxy_pass http://grantdash-api;
  proxy_intercept_errors on;
  error_page 404 500 502 503 504 /empty/404;
}

location ~ ^/(dash/)?(brd|org)/(.+)/admin$ {
  try_files /admin/index.html =404;
}

location ~ ^/(dash/)?brd/(.+)/prj/create$ {
  try_files /prj/create.html =404;
}

location ~ ^/(dash/)?prj/(.+)/edit$ {
  try_files /prj/edit.html =404;
}

location ~ ^/dash/org/(?<orgslug>.+)/prj/(?<prjslug>.+)/upload/(?<fn>[^/]+)$ {
  try_files /../users/org/$orgslug/prj/$prjslug/upload/release/$fn /../users/org/$orgslug/prj/$prjslug/upload/draft/$fn =404;
}

location ~ ^/dash/org/(?<orgslug>.+)/brd/(?<brdslug>.+)/upload/(?<fn>[^/]+)$ {
  try_files /../users/org/$orgslug/brd/$brdslug/upload/release/$fn /../users/org/$orgslug/brd/$brdslug/upload/draft/$fn /assets/img/$fn =404;
}

location ~ ^/dash/org/(?<orgslug>.+)/upload/(?<fn>[^/]+)$ {
  try_files /../users/org/$orgslug/upload/release/$fn /../users/org/$orgslug/upload/draft/$fn /assets/img/$fn =404;
}

location ~ ^/s/avatar/(.*)$  { try_files /s/avatar/$1 /assets/img/avatar.svg =403; }
location = /robots.txt       { return 404; }
location @globalfallback     { try_files $uri $uri/; }

# all static file requests go to local files
location ~ ^/(s|js|css|assets)/(.*)$ { try_files /$1/$2 /$1/$2/index.html =404; }

# all /d/ requests go to api server
location ~ ^/dash/api/(.*)$         { try_files _ @apiserver; }

# always lookup files before hitting apiserver.
# go to custom 404 if file not found.
location ~ ^/dash/(.*)$      { try_files /$1 /$1/index.html @viewserver; }
location ~ ^/(.*)$           { try_files /$1 /$1/index.html @viewserver; }

# put at the bottom
location ~ \.(?:ico|css|js|gif|jpe?g|png|svg|woff|ttf|otf)$ {
  expires 1d;
  add_header Pragma public;
  add_header Cache-Control public;
}

##### proxies configuration #####

location @apiserver  {
  proxy_pass http://grantdash-api;
}

# turn on error intercept for view rendering errors.
# https://serverfault.com/questions/791150/conditional-proxy-intercept-errors-directive?noredirect=1
location @viewserver {
  proxy_pass http://grantdash-api;
  proxy_intercept_errors on;
}
