include ./sites/grantdash/upstream.config;

server {
  server_name grantdash.io;
  root /home/web/projects/grantdash/server/static/;
  location ~ ^/(.*)$ {
    try_files /$1 $1/index.html =404;
  }
}

#server {
#  server_name grantdash.io;
#  include ./sites/grantdash/http.config;
#  root /home/web/projects/grantdash/server/static/;
#}
#
#server {
#  server_name grantdash.io;
#  root /home/web/projects/grantdash/server/static/;
#  include ./sites/grantdash/https.config;
#  include ./sites/grantdash/proxy.config;
#  ssl_certificate /etc/letsencrypt/live/grantdash.io/fullchain.pem;
#  ssl_certificate_key /etc/letsencrypt/live/grantdash.io/privkey.pem;
#}
#
#include ./sites/grantdash/custom-domains/*.config;
