include ./sites-enabled/grantdash.io/modules/upstream.config;

# http, static mode. for certbot.
# server {
#   server_name grantdash.io;
#   root /home/web/projects/grantdash/server/static/;
#   location ~ ^/(.*)$ {
#     try_files /$1 $1/index.html =404;
#   }
# }

server {
  server_name grantdash.io;
  include ./sites-enabled/grantdash.io/modules/http.config;
  root /home/web/projects/grantdash/server/static/;
}

server {
  server_name grantdash.io;
  ssl_certificate /etc/letsencrypt/live/grantdash.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/grantdash.io/privkey.pem;

  # grantdash only. for shorthand url
  location ~ ^/(.*) {
    root /home/web/projects/grantdash/server/static/;

    location ~ ^/work/(.*)$ {
      default_type text/plain;
      return 404 " ";
    }
    location ~ ^/misc/(.*)$ {
      default_type text/plain;
      return 404 " ";
    }

    try_files /$1 /$1/index.html @viewserver;
  }

  include ./sites-enabled/grantdash.io/domains/production.config;
}

include ./sites-enabled/grantdash.io/domains/production/*.config;
