//- view
extends /base.pug
block vars
  //-- ctrl.navtop.shown = !simple;
block head
block body
block script
  script(type="module"): :lsc
    ldc.register("viewmode",[], -> return "edit")
  script(type="module"): include:lsc block.ls
