extends /base.pug
block body
  .w-1024.rwd.mx-auto
    h2 平所科花上公電不水了如維
    
    .d-flex
      each i in [1,2,3,4]
        .px-2.py-1.bg-light.d-inline-block.rounded.mr-2.text-sm 2019 春季
    hr
    include /modules/widget/discus.pug
block script
  +script("/js/util/discus.js")
