//- view
extends /base.pug
block vars
 - ctrl.navtop.placeholder = false
block body
  include cover.pug

block script
  script: :lsc
    ldc.register <[ldcmgr loader error auth viewLocals]>, ({ldcvmgr, loader, error, auth, viewLocals}) ->
      auth.ensure {info: \token}
        .then (g) ->
          loader.on!
          ld$.fetch '/dash/api/token', {method: \PUT}, {json: {token: viewLocals.token}}
            .finally -> loader.off!
            .then -> ldcvmgr.toggle \perm-claimed
        .catch (e) ->
          if ldError.id(e) == 1013 => return ldcvmgr.toggle \perm-fail
          error! e
  +register-locals()
