//- view
extends /base.pug
block vars
 - ctrl.navtop.placeholder = false
block body
  +scope("claimed").ldcv: .base.w-640: .inner
    .typeset.heading-contast.vertical-center.my-0: .w-100.text-center: .p-4.m-4
      .mb-4 您的權限已設定完成。
      .btn.btn-outline-primary(onclick="window.location.reload()") 載入評選表
block script
  script: :lsc
    ldc.register <[loader error auth viewLocals]>, ({loader, error, auth, viewLocals}) ->
      auth.ensure {info: \token, force-email: viewLocals.email}
        .then (g) -> auth.recaptcha.get!
        .then (recaptcha) ->
          payload = {token: viewLocals.token, recaptcha}
          loader.on!
          ld$.fetch '/dash/api/judgetoken', {method: \PUT}, {json: payload}
            .finally -> loader.off!
            .then ->
              ldcv = new ldCover {root: '[ld-scope=claimed]'}
              ldcv.toggle!
        .catch error!
  +register-locals()
