//- view
extends /base.pug
block vars
 - ctrl.navtop.placeholder = false
block body
  include cover.pug

block script
  script: :lsc
    ldc.register <[ldcvmgr loader error auth viewLocals]>, ({ldcvmgr, loader, error, auth, viewLocals}) ->
      auth.ensure {info: \token, force-email: viewLocals.email}
        .then (g) -> auth.recaptcha.get!
        .then (recaptcha) ->
          payload = {token: viewLocals.token, recaptcha}
          loader.on!
          ld$.fetch '/dash/api/judgetoken', {method: \PUT}, {json: payload}
            .finally -> loader.off!
            .then -> ldcvmgr.toggle \judge-claimed
        .catch (e) ->
          if ldError.id(e) == 1013 => return ldcvmgr.toggle \perm-fail
          error! e
  +register-locals()
