//- view
extends /base.pug
block vars
 - ctrl.navtop.placeholder = false
block body
  include cover.pug
block script
  script: :lsc
    ldc.register <[ldcvmgr]>, ({ldcvmgr}) -> ldcvmgr.toggle \judge-list
