@import 'authpanel.styl'
@import 'switch.styl'
@import 'tagify.styl'
@import 'form.styl'

.folder-item:hover
  color: currentColor

.user-icon
  width: 1em
  height: 1em
  border-radius: 50%
  background: #444
