//- module

.judge
  .handsontable
    font-size: 14px
    td, th
      vertical-align: middle
      text-align: center
  .handsontable td.auto
    background: #f9fafb
    color: #47b

.judge-table
  tr.check
    background: #fafbfc
    color: #444
  tr.active
    background: #ff9!important
    box-shadow: inset 0 0 10px 2px rgba(255,255,255,1)


