#nav-top nav.navbar
  margin: auto
  .navbar-brand
    font-size: 1em
  &.text-white
    a.nav-link, a.navbar-brand, .navbar-brand a
      color: #fff
  a.nav-link, a.navbar-brand, .navbar-brand a
    color: #222
