#nav-top nav.navbar
  margin: auto
  .navbar-brand
    font-size: 1em
  &.text-white
    a.nav-link, a.navbar-brand, .navbar-brand a
      color: #fff
  a.nav-link, a.navbar-brand, .navbar-brand a
    color: #222

@media(max-width: 768px)
  .navbar-collapse
    background: rgba(255,255,255,.9)
    padding: 1em
    border-radius: .5em
    box-shadow: 0 2px 4px rgba(0,0,0,.2)
