//- module
.switch
  cursor: pointer
  border: 1px solid #ccc
  padding: 1px
  border-radius: 1.75em
  width: 3.25em
  background: #edeeef
.switch:after
  content: " "
  display: block
  border-radius: 50%
  box-shadow: 0 2px 4px rgba(0,0,0,.2)
  width: 1.75em
  height: 1.75em
  background: #fff
.switch.on
  background: #00ff7b
.switch.on:after
  margin-left: auto

