//- module
.switch
  cursor: pointer
  border: 1px solid #ccc
  padding: 1px
  border-radius: 1.75em
  width: 2.25em
  background: #edeeef
  transition: background .15s ease-in-out
.switch:after
  content: " "
  display: block
  border-radius: 50%
  box-shadow: 0 2px 4px rgba(0,0,0,.2)
  width: 1em
  height: 1em
  background: #fff
  transition: all .15s ease-in-out
  left: 0%
  transform: translate(0%,0)
  position: relative
.switch.on
  background: #00ff7b
.switch.on:after
  left: 100%
  transform: translate(-100%,0)

.switch.switch-lg
  width: 3.25em
.switch.switch-lg:after
  width: 1.75em
  height: 1.75em
    

