extends /base.pug
block body
  #root.w-640.mx-auto.my-4.rwd
    .mb-4: input.form-control(ld="id")
    .btn.btn-outline-secondary(ld="submit") Submit
block script
  script: :lsc
    ldc.register <[auth]>, ({auth}) ->
      auth.ensure!then ->
        view = new ldView do
          root: '#root'
          action: click:
            submit: ->
              id = view.get('id').value
              ld$.fetch "/dash/api/me/su/#id", {method: "PUT"}
                .then -> window.location.href = "/dash/judge-portal/"



