# prevent domain name caching
server {
  server_name ${old-domain-name};
  return 301 $scheme://${new-domain-name}$request_uri;
}
server {
  server_name ${old-domain-name};
  listen 443;
  ssl on;
  ssl_protocols TLSv1.2 TLSv1.3;
  charset utf-8;
  ssl_certificate /etc/letsencrypt/live/${old-domain-name}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${old-domain-name}/privkey.pem;
  return 301 $scheme://${new-domain-name}$request_uri;
}
