# with cloudflare, SSL full encryption mode is required to prevent infinite redirecting.
server {
  server_name ${domain-name};
  include ./sites-enabled/grantdash/modules/http.config;

  # simply choose one from following two root:
  # with brd as root
  #root ${user-root}/org/${org-slug}/brd/${brd-slug}/static/;
  # with org as root
  root ${user-root}/org/${org-slug}/static/;
}

server {
  server_name ${domain-name};
  ssl_certificate /etc/letsencrypt/live/${domain-name}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${domain-name}/privkey.pem;

  location / {
    # with brd as root
    #root ${user-root}/org/${org-slug}/brd/${brd-slug}/static/;
    # with org as root
    root ${user-root}/org/${org-slug}/static/;
  }

  location = / {
    # with brd as root
    #root ${user-root}/org/${org-slug}/brd/${brd-slug}/static/;
    # with org as root
    root ${user-root}/org/${org-slug}/static/;
    try_files /index.html @viewserver;
  }

  location ~ ^/brd/(?<slug>[^/]+)/?$ {
    try_files _ @viewserver;
  }

  location ~ ^/org/(?<slug>[^/]+)/?$ {
    try_files _ @viewserver;
  }

  location ~ ^/brd/(?<slug>[^/]+)/(?<path>.*) {
    root ${user-root}/org/${org-slug}/brd/$slug/static/;
    try_files /$path /$path/index.html =404;
  }

  location /dash {
    root ${web-root};
    include ./sites-enabled/grantdash/modules/dash.config;
  }

  location ~ ^/dash/work/(.*)$ {
    default_type text/plain;
    return 404 " ";
  }

  include ./sites-enabled/grantdash/modules/proxy.config;
  include ./sites-enabled/grantdash/modules/https.config;

  # You can still overwrite config ( such as headers below ) to fit your need:
  # proxy_hide_header X-Frame-Options;
  # proxy_hide_header Content-Security-Policy;
  # add_header X-Frame-Options "ALLOW-FROM g0v.hackmd.io";
  # add_header Content-Security-Policy "frame-ancestors g0v.hackmd.io";

}
