# sample nginx entry config for server. can be used as the root nginx config in standalone server.
# before using, check if following is as desired:
#  * user name `web`.
#  * absolute paths such as `/etc/nginx`, `/var/log`
#  * server config in `/etc/nginx/sites-enabled/grantdash/servers/*/server.config`

user web;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections 768;
}

http {
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;

  # dont show server version
  server_tokens off;

  # for supporting more server name 
  server_names_hash_bucket_size 64;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ssl_protocols TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
  ssl_prefer_server_ciphers on;

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  gzip on;

  include /etc/nginx/sites-enabled/grantdash/servers/main.config;

  # force all unauthorized domain either redirect or error.
  server {
    error_page 403 404 /error.html;
    location /error.html {
      internal;
      return 200 "";
    }
    location / {
      return 404;
    }
  }
}

