include ./sites-enabled/grantdash/modules/upstream.config;
include ./sites-enabled/grantdash/domains/*/org.config;
include ./sites-enabled/grantdash/domains/*/brd.*.config;

# ${if-domain-name}
# === we only need below if it's multiple domain site ===

server {
  server_name ${domain-name};
  include ./sites-enabled/grantdash/modules/http.config;
  root ${web-root};
}

server {
  server_name ${domain-name};
  ssl_certificate /etc/letsencrypt/live/${domain-name}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${domain-name}/privkey.pem;
  # grantdash only. for shorthand url
  location ~ ^/(.*) {
    root ${web-root};
    location ~ ^/work/(.*)$ {
      default_type text/plain;
      return 404 " ";
    }
    location ~ ^/misc/(.*)$ {
      default_type text/plain;
      return 404 " ";
    }
    try_files /$1 /$1/index.html @viewserver;
  }

  location /dash {
    root ${web-root};
    include ./sites-enabled/grantdash/modules/dash.config;
  }

  include ./sites-enabled/grantdash/modules/proxy.config;
  include ./sites-enabled/grantdash/modules/https.config;
}

