extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
  - ctrl.navtop.className = "navbar-light"
block head
  +css("https://cdn.jsdelivr.net/npm/tail.datetime@0.4.13/css/tail.datetime-harx-light.min.css")
block body
  style(type="text/css"): :stylus
    body { background: radial-gradient(#f1f2f3,#999) fixed top center; background-size: cover }
  +nbr(2)
  .w-640.mx-auto
    +scope("brd-info").card.mb-4.shadow-lg: .card-body: .p-4
      h3 建立活動
      p.text-sm.text-muted 在我們進行下一步之前，先填妥活動的基本資訊吧
      hr
      .row.align-items-center.mb-4
        .col-md-3.text-right 活動名稱
        .col-md
          .form-group.mb-0.ld-ext-right
            .ld.ld-spin.ld-spinner.text-primary
            input.form-control(name="name")
            .invalid-feedback.position-absolute 活動必須要有名字
      .row.align-items-center.mb-4
        .col-md-3.text-right
          span 活動代碼
          p.text-muted.text-sm 用於網址的短代碼
        .col-md
          .form-group.mb-0.ld-ext-right
            .ld.ld-spin.ld-spinner.text-primary
            input.form-control(name="slug",placeholder="僅接受英文字母、數字或連字符號")
            .invalid-feedback.position-absolute 已經有其它活動使用這個代碼了，請換一個
      .row.align-items-start.mb-4
        .col-md-3.text-right 活動摘要
        .col-md: textarea.form-control(name="description",rows="4",placeholder="20個字以上")

      .row.align-items-center.mb-4
        .col-md-3.text-right 開始時間
        .col-md: input.form-control(ld="tail-datetime",type="text",name="starttime")

      .row.align-items-center.mb-4
        .col-md-3.text-right 結束時間
        .col-md: input.form-control(ld="tail-datetime",type="text",name="endtime")

      .row.align-items-center.mb-4
        .col-md-3.text-right 所屬組織
        .col-md
          select.form-control(ld="orgs",name="org")
            option(ld-each="org",value="") 無
          .my-2.text-sm 您可稍後再設定組織。
          //-或者，#[a(href="/new/org/") 現在就建立新組織]
      .row.align-items-center.mb-4.pt-4
        .col-md-3
        .col-md: .btn.btn-lg.btn-primary.disabled(ld="submit") 立刻建立
  +script("https://cdn.jsdelivr.net/npm/tail.datetime@0.4.13/js/tail.datetime-full.min.js")

block script
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/admin/info.js")
  script: :lsc
    ldc.register <[adminInfo]>, ({admin-info}) ->
      new admin-info root: '[ld-scope=brd-info]', type: \brd
