# with cloudflare, SSL full encryption mode is required to prevent infinite redirecting.
server {
  server_name <sample-domain>;
  include ./sites-enabled/grantdash.io/modules/http.config;

  # simply choose one from following two root: 
  # with brd as root
  root /home/web/projects/grantdash/server/users/org/<org-name>/brd/<brd-name>/static/;

  # with org as root
  root /home/web/projects/grantdash/server/users/org/<org-name>/static/;

  # for preparing ssl certificate
  # location / {
  #   root <some-tmpdir>
  # }
}

server {
  server_name <sample-domain>;
  ssl_certificate /etc/letsencrypt/live/<sample-domain>/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/<sample-domain>/privkey.pem;

  location / {
    # simply choose one from following two root: 

    # with brd as root
    root /home/web/projects/grantdash/server/users/org/<org-name>/brd/<brd-name>/static/;

    # with org as root
    root /home/web/projects/grantdash/server/users/org/<org-name>/static/;
  }

  location ~ ^/brd/(?<slug>[^/]+)/(?<path>.*) {
    root /home/web/projects/grantdash/server/users/org/<org-name>/brd/$slug/static/;
    try_files /$path /$path/index.html =404;
  }

  include ./sites-enabled/grantdash.io/domains/production.config;
}
