include ./sites-enabled/grantdash/modules/upstream.config;
include ./sites-enabled/grantdash/domains/*/org.config;
include ./sites-enabled/grantdash/domains/*/brd.*.config;


# === we only need below if it's multiple domain site ===

server {
  server_name dev.gda.sh;
  include ./sites-enabled/grantdash/modules/http.config;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/static;
}

server {
  server_name dev.gda.sh;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/dev.gda.sh/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/dev.gda.sh/server.key;
  # grantdash only. for shorthand url
  location ~ ^/(.*) {
    root /Users/tkirby/workspace/zbryikt/grantdash/server/static;
    location ~ ^/work/(.*)$ {
      default_type text/plain;
      return 404 " ";
    }
    location ~ ^/misc/(.*)$ {
      default_type text/plain;
      return 404 " ";
    }
    try_files /$1 /$1/index.html @viewserver;
  }

  location /dash {
    root /Users/tkirby/workspace/zbryikt/grantdash/server/static;
    include ./sites-enabled/grantdash/modules/dash.config;
  }

  include ./sites-enabled/grantdash/modules/proxy.config;
  include ./sites-enabled/grantdash/modules/https.config;
}

