doctype html
include /modules/common.pug
include /modules/mixins/index.pug
-
  var ctrl = {
    cover: {authpanel: false},
    navtop: {placeholder: false, shown: true},
    foot: {shown: true}
  }
- var vars = {root: ""}
//- use for importing from report. remove this once we are done.
include /ui/data/sample.pug
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    +css("/assets/lib/tail.datetime/0.4.13/css/tail.datetime-harx-light.min.css")
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
  body.bg-secondary(data-spy=(ctrl.scrollspy?"scroll":false),data-target=(ctrl.scrollspy?ctrl.scrollspy:false))
    include /admin/modules/navtop.pug
    include /modules/mixins/index.pug
    .ldNotify


    if ctrl.cover.authpanel
      include /modules/widget/authpanel.pug
      .w-640.mx-auto: +authpanel

    if ctrl.foot.shown
      include /modules/widget/foot.pug
    .w-640.mx-auto.rwd.card: .card-body
      h3 請選擇您要使用的組織


    +script("/assets/lib/moment.js/2.25.3/moment.min.js")
    +script("/assets/lib/moment-timezone.js/0.5.31/moment-timezone.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/js/site.js")
    +script("/assets/lib/ldsite/0.0.2/ldsite.min.js")
    //-
      +script("/assets/lib/moment.js/2.25.3/moment.min.js")
      +script("/assets/lib/moment-timezone.js/0.5.31/moment-timezone.min.js")
      +script("/assets/lib/tail.datetime/0.4.13/js/tail.datetime-full.min.js")
      +script("/assets/lib/bootstrap.native/2.0.27/bootstrap-native-v4.min.js")
      +script("/assets/lib/ldui/ldui.min.js")
      +script("/assets/lib/ldui/ext/folder.min.js")
      +script("/assets/lib/ldsite/0.0.2/ldsite.min.js")
      +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
      +script("/assets/lib/ctrlz/ctrlz.bundle.min.js")
      +script("/js/site.js")
      +script("/js/modules/nav.js")
      +script("/js/admin/adopter.js")
      //-+script("/js/admin/index.js")
      +script("/js/admin/permctrl.js")
      +script("/js/admin/entryctrl.js")
      +script("/js/admin/navbar.js")
      +script("/js/admin/grp-sidemenu.js")
      +script("/js/reblock/form-reblock.js")

    script: :lsc
      ldc.register \test, <[auth]>, ({auth}) ->
        auth.ensure!
          .then ->
            [path,type,slug] = /^\/([ob])\/([^/]+)\/admin/.exec(window.location.pathname) or []
            hint = {} <<< (if type => (if type == \o => {org: slug} else {brd: slug}) else {})
            ld$.fetch '/d/toc/', {method: \POST}, {json: hint, type: \json}
              .then (toc) -> console.log toc
              .catch -> lda.ldcvmgr.lock \error-404
          .catch ->
            console.log it
            lda.ldcvmgr.toggle \auth-required
      ldc.app \test
