extends /admin/base.pug
block body
block script
  .d-flex.flex-column.h-100.position-relative.z-float
    div(style="height:2.75em")
    .w-1024.h-100.rwd.mx-auto.d-flex.shadow-lg.rounded.my-4(style="overflow:hidden")
      //- side menu
      +scope("admin-menu").admin-menu.bg-dark.text-white.text-left
        .sticky.z-fixed.bg-dark.d-flex.flex-column.no-select(
        style="top:0;transition:height .25s ease-in-out")
          div
            .folder.border-bottom.border-secondary.text-sm.no-dart(ld="folder org-menu nav",data-nav="main")
              .folder-item.folder-toggle.d-flex.align-items-center.py-3.pr-3.pl-0
                .mr-1: .bg-light.rounded(style="width:1.35em;height:1.35em")
                .flex-grow-1.text-truncate.text-capitalize(ld="org-name") ...
                .ml-1 #[i.i-bars]
              .folder-menu
                .folder-item(ld="nav-tab",data-name="org-config",data-nav="main") 組織設定
                .folder-item(ld="nav-tab",data-name="org-navbar",data-nav="main") 選單列
                .folder-item.mb-3(ld="nav-tab",data-name="org-config",data-nav="main") 頁面編輯器

            .clickable(ld="brd-bar",style="box-shadow:0 2px 3px rgba(0,0,0,1)")
              .d-flex.align-items-center.p-3.w-100
                .flex-grow-1.text-truncate.d-none(ld="brd")
                  .text-sm(ld="brd-progress")
                    i.i-radio.mr-1
                    span.mr-2(ld="brd-progress-text") ...
                  .text-truncate.text-capitalize(ld="brd-name") ...
                .flex-grow-1.text-truncate(ld="brd empty") 請選擇活動 ...
                .ml-2(ld="brd-list-toggle") #[i.i-dart-down]


        .border-top.border-secondary.border-bottom: .folder(ld="folder brd-list")
          .folder-item.folder-toggle.d-none
          .folder-menu
            .px-3.py-3(ld="brds empty")
              div 目前尚沒有任何活動可供您做選擇。
              .py-4.px-2.text-center
                a.btn.btn-primary(href="/new/brd/") 立刻建立活動
            .px-3.py-3(ld="brds")
              .pb-2.text-sm.d-flex
                b.flex-grow-1 活動列表
                a.text-underline.text-white(href="/new/brd/") 建立新活動
              .pb-2: input.form-control.form-control-sm.rounded(ld="brd-search",placeholder="搜尋...")
              .pb-2.clickable(ld-each="brd-entry") #[span]#[.text-muted.text-sm]


        .pt-2(ld="nav",data-nav="main")
          .folder-item(ld="nav-tab",data-name="brd-config") 活動設定
          a.folder-item.d-flex(href="#")
            .flex-grow-1 入口頁面
            div: i.i-link
          .folder.show(ld="folder")
            .folder-toggle.folder-item 客製頁面
            .folder-menu
              .folder-item(ld="nav-tab",data-name="brd-navbar") 選單列
              a.folder-item.d-flex(href="edit.html")
                .flex-grow-1 頁面編輯器
                div: i.i-link
          .folder-item 建立複本
          .border-bottom.border-secondary.my-2
          div
            .folder(ld-each="grp-entry")
              .folder-toggle.folder-item(ld="name") 分組
              .folder-menu
                .folder-item(ld="nav-tab",data-name="prj-config") 設定
                .folder-item(ld="nav-tab",data-name="prj-list") 專案列表
                .folder-item(ld="nav-tab",data-name="prj-judge") 評選資訊
                .folder-item(ld="nav-tab",data-name="prj-form") 提案表
            .folder-item(ld="grp-add") 新增分組 ...
          .my-4
      //- content panel
      .flex-grow-1.bg-white(style="overflow-y:scroll")
        .p-4(ld="nav-panel",data-nav="main",data-name="brd-config")
          include brd/config.pug

        .p-4(ld="nav-panel",data-nav="main",data-name="brd-navbar")
          include navbar.pug

        .p-4(ld="nav-panel",data-nav="main",data-name="prj-config")
          include prj/config.pug

        //-.p-4(ld="nav-panel",data-nav="main",data-name="prj-judge")
          include prj/judge.pug

        //-.p-4(ld="nav-panel",data-nav="main",data-name="prj-form")
          include prj/form.pug

  +script("/js/admin/sdb-adapter.js")
  +script("/js/reblock/form-reblock.js")
  +script("/js/admin/main.js")
  +script("/js/admin/menu.js")
  +script("/js/admin/panel.js")
  +script("/js/admin/info.js")
  +script("/js/admin/stage.js")
  +script("/js/admin/perm.js")
  +script("/js/admin/navbar.js")
