//- module
h3 導覽列客製化
p.text-muted 您可以在這裡調配您所需的導覽列元件。導覽列元件將出現在您的公開頁面頂端，提供您的用戶瀏覽時的線索與快捷地切換頁面的功能。
hr
+scope("navbar-editor")
  +scope("folder-sample").d-none
    div(ld="item"): .folder-item
      .inner.d-flex.align-items-center
        i.i-bars.mr-4
        .name.flex-grow-1.mr-2: input.form-control(ld="name",name="name",placeholder="選單文字")
        .url.flex-grow-1: input.form-control(ld="url",name="url",placeholder="URL")
        i.i-radio.ml-4(ld="toggle-fold")
        i.i-clone.ml-4(ld="clone")
        i.i-close.ml-4.mr-4(ld="delete")
    div(ld="folder"): .folder.show(draggable="true")
      .folder-item
      .folder-menu
        div(ld-each="list")
  .folder-root(ld="folder-root")
    div(ld-each="list")
