//- module
h4 權限設定
.text-muted.mb-4 權限設定讓您指派特定用戶來協助您管理維護您的組織、活動與用戶提案。我們已經預建了數種不同的角色，您可以依需求指派用戶到這些角色之中。
+scope("perm-panel")

  ul.nav.nav-tabs.mb-4(ld="roles")
    li.nav-item: a.nav-link(ld="role-all",data-type="all",data-name="") 清單
    li.nav-item(ld-each="role"): a.nav-link
    li.nav-item.flex-grow-1
    li.nav-item.text-right: a.nav-link.text-muted.border-0(ld="new-role") 新增 +

  .form-group.mb-2(ld="role-view")
    input.form-control(ld="role-name",placeholder="角色名稱",value="評審")
    .invalid-feedback 不能用這個名稱
  .alert.alert-light.px-2.mb-4.border
    .text-muted(ld="role-desc-all",data-name="") 此列表列出所有出現在權限設定中的用戶，以及他們所擔任角色。
    div(ld="roles-desc")
      .text-muted.d-none(ld-each="role-desc",contenteditable="true") 角色的簡單描述 ... 

  div
    .py-3.px-3(ld="newuser"): .d-inline-block.clickable.text-primary(ld="newuser-toggle") 新增使用者權限 ...
    .card.shadow-sm.mx-2.d-none(ld="newuser"): .card-body.p-2
      .d-flex.align-items-center
        .input-group
          +scope("user-search").position-relative.flex-grow-1
            input.form-control.border-secondary.border-right-0(
            style="border-radius:.25em 0 0 .25em",
            ld="input", placeholder="搜尋使用者 ... ")
            .d-none(ld="picked"): .position-absolute.w-100.h-100(style="top:0;left:0;padding:1px")
              .d-flex.align-items-center.p-2.bg-light.form-control.border-0.h-100.w-100
                .bg-dark.rounded.mr-1(ld="picked-avatar",style="width:1em;height:1em")
                .flex-grow-1(ld="picked-name")
                i.i-close.text-danger.clickable(ld="clear")
            .d-none.ld.ld-fade-in(ld="loading")
              .position-absolute.m-auto.ld.ld-spin.ld-spinner(style="top:0;bottom:0;right:.5em")
            .z-float.px-3.rounded.border.shadow-sm.d-none.ld.ld-float-ttb-in.bg-white.xp15.position-absolute.w-100(
            ld="users",style="border-radius: 0 0 .5em .5em")
              .d-flex.align-items-center.clickable.my-2(ld-each="user")
                .bg-light.rounded.mr-1(ld="avatar",style="width:1em;height:1em")
                div(ld="name")


          .input-group-appned(ld="newuser-role list-view")
            .dropdown
              .btn.btn-outline-secondary.dropdown-toggle.rounded-0(ld="newuser-role-picked",data-toggle="dropdown")
              .dropdown-menu
                .dropdown-item(ld-each="newuser-role-option")
          .input-group-append
            .btn.btn-outline-secondary(ld="newuser-add") 增加

        .ml-4.mr-2.clickable(ld="newuser-toggle"): i.i-close


  .px-0(ld="list-view")
    .row.no-gutters
      .col-md-6(ld-each="user"): .border.rounded.d-flex.p-2.m-2.align-items-center.shadow-sm
        .mr-2(style="width:2.75em"): .aspect-ratio.ratio-1by1.bg-dark.rounded
        .flex-grow-1 #[b]#[.text-sm.text-muted]
        .pr-2: i.i-close.clickable

  .px-0.d-none(ld="role-view")
    .row.no-gutters
      .col-md-6(ld-each="user"): .border.rounded.d-flex.p-2.m-2.align-items-center.shadow-sm
        .mr-2(style="width:2.25em"): .aspect-ratio.ratio-1by1.bg-dark.rounded
        .flex-grow-1: b
        .pr-2: i.i-close.clickable

    .mt-4.px-2
      h5 此名單的權限
      .row
        .col-md
          +switch-lg({name: "擁有者", desc: "最高權限", key: "owner"})
          +switch-lg({name: "管理活動", desc: "設定活動各種資訊", key: "info-edit"})
          +switch-lg({name: "管理權限", desc: "可以修改權限列表", key: "perm-edit"})
          +switch-lg({name: "管理提案", desc: "可以編修、刪除、設定提案", key: "prj-admin"})
        .col-md
          +switch-lg({name: "建立提案", desc: "可以建立新的提案", key: "prj-create"})
          +switch-lg({name: "建立留言", desc: "可以新增或修改留言", key: "comment-create"})
          +switch-lg({name: "管理留言", desc: "可以修改、刪除或設定留言", key: "comment-admin"})
          +switch-lg({name: "評審", desc: "可以進入評審介面", key: "judge"})

  hr
  .d-flex.justify-content-between
    .flex-grow-1: .btn.btn-outline-danger(ld="role-view delete-role") 刪除角色
