//- module
+scope("admin-welcome")
  .p-4: .mx-auto.p-4(style="margin-top:5em")
    h3 這裡是 Grant Dash 活動主控台
    hr
    p 主控台提供您設定活動、組織與提案分組的功能。您可以在這裡製作您的分組提案表，在權限表中設定各分組的評審名單等等。
    p 您在這裡所做的任何設定都會即時儲存到系統之中，但直到您點擊了「發布變更」按鈕之前，都不會影響系統的運作。
    br
    div(ld="nav",data-nav="main")
      .btn.btn-outline-primary.mr-4(ld="org-info nav-tab",data-name="org-config") 前往組織設定
      .btn.btn-outline-primary(ld="brd-info nav-tab",data-name="brd-config") 前往活動設定
