extends /base.pug
block vars
  - ctrl.navtop.placeholder = true
  - ctrl.navtop.className = "text-dark"
block head
  style(type="text/css"): :stylus
    a
      color: #ff3a1e
block body
  // taicca style
  //-.w-768.mx-auto.rwd.bg-light
    .row.h-100.w-768.mx-auto.rwd.no-gutters
      .col-md-4: .vertical-center: .w-100.p-4
        h4 「文化內容開發產業領航旗艦計畫」即日起至 4 月 30 日止受理收件
        p 2020-03-24
        b 方案公告
      .col-md-8: .vertical-center: .w-100
        img.w-100(src="/dash/assets/img/sample/taicca/pioneer.jpg")
  .w-100
    .w-100.mx-auto.rwd.position-absolute: .aspect-ratio(style="padding-top:30%;background:url(/dash/assets/img/sample/taicca/pioneer.jpg) bottom center")
    .w-100.mx-auto.rwd: .aspect-ratio(style="padding-top:30%;background:url(/dash/assets/img/sample/taicca/pioneer.jpg) bottom center no-repeat rgba(0,0,0,.5)")
  .w-1024.mx-auto.rwd.typeset.heading-contrast.p-4
    .mb-4
      h3 「文化內容開發產業領航旗艦計畫」即日起至 4 月 30 日止受理收件
      div 2020-03-24
    .bg-light.p-4: .m-4: :md

      ### 要旨

      為使我國文化內容產業能夠結合科技應用進行各項升級並積極創新，鼓勵民間參與，面向文化內容產業未來發展趨勢、提升產製及商業價值之國際競爭力，文化部特委託文化內容策進院（以下稱本院）辦理「文化內容科技應用創新產業領航旗艦計畫」。

      本要點補助分為「文化內容開發」、「內容產業領航行動方案」兩組，聚焦文化內容力、故事力之提升並催生內容產業生態系逐步健全發展。

      鼓勵從在地文化素材出發，加速量能和產製升級，如內容創作之系統性企劃產出、提升質與量的工作流程、紮實的田調提升內容產出的說服力和多樣性，並朝建立可長期營運的商業模式為目標。

      以期達到下列目標：
      一、催生精彩多元、具國際市場潛力之原生文化內容智慧財產 ( Intellectual Property，以下簡稱 IP )，以及 IP 衍生創作，使文化內容產製升級和產量有效提升。
      二、就目前內容產業關鍵斷鏈點提出具體解決方案，帶動整體文化產業發展與經濟綜效。


      ### 申請者資格

      依中華民國法律設立登記或立案之本國公司、財團法人、社團法人、大專校院、學術研究機構或團體(無欠稅及退票紀錄)。

      ※ 政府捐助成立之財團法人不得申請。

      ※ 相同或類似計畫已獲本院、文化部及其所屬機關（構）、政府捐助之財團法人、財團法人國家文化藝術基金會補助者，不得申請。

      ※ 同一案只能擇一項目申請。


      ### 補助項目

      一、文化內容開發：辦理「原生內容開發」、「原生內容轉譯」及「原創故事孵化」。捲動創作者能量，找出內容產製升級所需具有效能的工作方法和團隊。

      二、內容產業領航行動方案：包括（但不限）影視、藝術、流行音樂、動漫、出版產業，就產業關鍵斷鏈點提出具體解決的行動方案，逐步帶動整體文化產業發展並面向未來。


      ### 補助金額

      一、每案補助金額度以新臺幣 500 萬元為上限。

      二、不補助資本門（如機械設備、裝修、修繕等）。

      三、每案補助金額，不得逾計畫總預算及實際總支總經費之 49%。



      申請期間：自本要點公告日起至 109 年 4 月 30 日下午 5 時 30 分止。

      申請方式：請於公告申請截止時間前，至「[報名系統](/dash/brd/new-event/prj/create)」填寫基本資料，並將計畫書以掛號郵寄（郵戳為憑）或親送至本院收件處，逾期者，申請案不列入審查。


      ### 下載文件

      [109 年度加速文化內容開發與科技創新應用補助作業要點](https://drive.google.com/open?id=1YomL-PwPYyuavHw-nXnSq5X2i4ZkBDmS)
      申請計畫書格式


      ### 聯絡專線

      02-2745-8186 #317
      flagp@taicca.tw


      ➡︎「[文策院第一波策進方案線上說明會](https://taicca.tw/news/105)」（內有 YouTube 連結）：3 月 27 日下午 2 時線上直播。


  .text-center
    p 11072 台北市信義區光復南路133號 松山文創園區 北向製菸工廠2樓
    p North Tobacco Factory 2F., No.133, Guangfu S. Rd., Xinyi Dist, Taipei City 11072, Taiwan
    p TEL (02) 2745-8186 FAX (02) 2749-2436
    br

