extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
block body
  .w-100.h-100.vertical-center: .text-center.w-100
    +scope("prj-create").w-480.mx-auto.rwd.pb-4
      include /modules/widget/prj-create.pug
block script
  +script("/js/util/sdb-adapter.js")
  +script("/js/util/hub.js")
  +script("/js/admin/info.js")
  script: :lsc
    ldc.register <[ldcvmgr adminInfo prjCreate auth]>, ({ldcvmgr, adminInfo, prjCreate, auth}) ->
      root = ld$.find('[ld-scope=prj-create]',0)
      n = ld$.find(root, 'input[name=brd]', 0)
      n.value = '4'
      new adminInfo {root: root, type: \prj}
