extends /auth/base.pug
block content
  h1
    span(t) 驗證完成
    sup #[i.i-check.text-success]
  p(t) 我們已經確認您的電子郵件地址無誤。
  img(src="/dash/assets/img/p/auth/mail/verify/done/mail.svg")
  +nbr(3)
  p
    a(t,href="/dash/me/settings") 查看個人設定

  script: :lsc
    ldc.register <[auth ldcvmgr]>, ({auth, ldcvmgr}) ->
      return
      ensure = ->
        auth.ensure!
          .then -> window.location.href= \/
          .catch -> ensure!
      auth.get!then ->
        if it.user =>
          lda.ldcvmgr.toggle("logged-in")
          debounce 2000 .then -> window.location.href = \/
        else debounce 2000 .then -> ensure!
