[ld-scope=prj-diff] .text-added {
  background: #dfd;
  color: #080;
}
[ld-scope=prj-diff] .text-removed {
  background: #fdd;
  color: #f00;
}
[ld-scope=prj-form] [ld=title],
[ld-scope=prj-form] [ld=desc] {
  word-break: break-word;
}
[ld=form-list]:empty {
  position: relative;
  background: #eee;
}
[ld=form-list]:empty:before {
  content: "將右方項目拖放到這裡 ...";
  display: block;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #999;
  text-align: center;
  margin: auto;
  height: 3em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.form-block i.i-radio[ld=state]:before {
  content: "\f00e";
}
.form-block i.i-radio.active[ld=state]:before {
  content: "\f00f";
}
.form-block i[type=radio][ld=state]:before {
  content: "\f00e";
}
.form-block i.active[type=radio][ld=state]:before {
  content: "\f00f";
}
.form-block i[type=checkbox][ld=state]:before {
  content: "\f033";
}
.form-block i.active[type=checkbox][ld=state]:before {
  content: "\f034";
}
.form-block.hint-fresh {
  animation: form-block-hint-fresh 2s 1 forwards;
}
[ld-scope=prj-form-use] .form-block {
  border: none;
  box-shadow: 0;
  margin-bottom: 2em;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #fdfeff;
  box-shadow: none !important;
  transition: all 0.35s ease-in-out;
}
[ld-scope=prj-form-use] .card.invalid[ld=block] {
  border-left-color: #f00;
}
@-moz-keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
@-webkit-keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
@-o-keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
@keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
