.authpanel,
.ldcv > .base > .inner.authpanel {
  background: none;
  width: 700px;
  height: 510px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  background-color: #234;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1ODUiIGhlaWdodD0iNzA4IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgdmlld0JveD0iMCAwIDU4IDcwIj48cGF0aCBkPSJNNjYgMzUgQzY2IDQ2IDQ5IDYxIDM4IDY0IEMyOCA2OCA4IDY0IDEgNTUgQy01IDQ2IC04IDIxIC0yIDEyIEM0IDMgMjYgNiAzNyAxMCBDNDggMTMgNjYgMjQgNjYgMzUiIGZpbGw9IiMwYmUiIG9wYWNpdHk9IjAuMiIvPjwvc3ZnPgo=);
  background-size: 50%;
  background-position: left center;
  background-repeat: no-repeat;
}
.authpanel .card-body {
  background: center center no-repeat;
  background-size: cover;
}
.authpanel .info {
  width: 381px;
  display: inline-block;
  background-image: url("/assets/img/c/bg/foam-cyan.svg");
  background-position: center center;
  background-size: cover;
  float: left;
  height: 513px;
  position: relative;
  color: #fff;
  left: 0;
}
.authpanel .form {
  width: 381px;
  display: inline-block;
  float: right;
  font-size: 16px;
  position: relative;
  box-shadow: -20px 0 40px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: linear-gradient(180deg, #fff, #fff, #d9dadb);
}
.authpanel .nav-tabs {
  box-shadow: inset 0 -2px 6px rgba(0,0,0,0.05);
  border-radius: 10px 0 0 0;
}
.authpanel .nav-tabs .nav-link {
  padding: 0.25rem 1rem 0;
  border-radius: 0.75em 0.75em 0 0;
}
.authpanel.signup .nav-link[data-action="signup"] {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.authpanel.signup *[data-show="signup"] {
  display: auto;
}
.authpanel.signup *[data-show="login"] {
  display: none;
}
.authpanel.signup *[data-info],
.authpanel.login *[data-info] {
  animation: ld-float-ttb-in 1s;
}
.authpanel.signup.failed *[data-info="failed"],
.authpanel.login.failed *[data-info="failed"] {
  display: block;
}
.authpanel.signup.failed *[data-info="default"],
.authpanel.login.failed *[data-info="default"] {
  display: none;
}
.authpanel.login .nav-link[data-action="login"] {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.authpanel.login *[data-show="login"] {
  display: auto;
}
.authpanel.login *[data-show="signup"] {
  display: none;
}
.switch {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1px;
  border-radius: 1.75em;
  width: 2.25em;
  background: #edeeef;
  transition: background 0.15s ease-in-out;
}
.switch:after {
  content: " ";
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 1em;
  height: 1em;
  background: #fff;
  transition: all 0.15s ease-in-out;
  left: 0%;
  transform: translate(0%, 0);
  position: relative;
}
.switch.on {
  background: #00ff7b;
}
.switch.on:after {
  left: 100%;
  transform: translate(-100%, 0);
}
.switch.switch-lg {
  width: 3.25em;
}
.switch.switch-lg:after {
  width: 1.75em;
  height: 1.75em;
}
.tagify.form-control {
  display: flex;
  padding: 0;
  align-items: flex-start;
  line-height: 1.1;
  height: auto;
}
.tagify__input {
  font-weight: 300;
  overflow: hidden;
}
[ld-scope=prj-diff] .text-added {
  background: #dfd;
  color: #080;
}
[ld-scope=prj-diff] .text-removed {
  background: #fdd;
  color: #f00;
}
[ld-scope=prj-form] [ld=title],
[ld-scope=prj-form] [ld=desc] {
  word-break: break-word;
}
[ld=form-list]:empty {
  position: relative;
  background: #eee;
}
[ld=form-list]:empty:before {
  content: "將右方項目拖放到這裡 ...";
  display: block;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #999;
  text-align: center;
  margin: auto;
  height: 3em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.form-block {
  margin-bottom: 1em;
}
.form-block i.i-radio[ld=state]:before {
  content: "\f00e";
}
.form-block i.i-radio.active[ld=state]:before {
  content: "\f00f";
}
.form-block i[type=radio][ld=state]:before {
  content: "\f00e";
}
.form-block i.active[type=radio][ld=state]:before {
  content: "\f00f";
}
.form-block i[type=checkbox][ld=state]:before {
  content: "\f033";
}
.form-block i.active[type=checkbox][ld=state]:before {
  content: "\f034";
}
.form-block[data-name=form-budget] .handsontable {
  font-size: 0.9em;
}
.form-block[data-name=form-budget] .handsontable th {
  background: #f9fafb;
  vertical-align: middle !important;
}
.form-block[data-name=form-budget] .handsontable td.head {
  background: #f9fafb;
  vertical-align: middle !important;
  text-align: center;
}
.form-block[data-name=form-budget] .handsontable td.value {
  vertical-align: middle !important;
  text-align: right;
}
.form-block[data-name=form-budget] .handsontable td:nth-child(5),
.form-block[data-name=form-budget] .handsontable td:nth-child(6),
.form-block[data-name=form-budget] .handsontable td:nth-child(7),
.form-block[data-name=form-budget] .handsontable td:nth-child(8),
.form-block[data-name=form-budget] .handsontable td:nth-child(9) {
  background: #f9fafb;
}
.form-answer .form-budget-table {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
  width: 100%;
}
.form-answer .form-budget-table th {
  background: #f9fafb;
}
.form-answer .form-budget-table td,
.form-answer .form-budget-table th {
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  white-space: nowrap;
}
.form-block.hint-fresh {
  animation: form-block-hint-fresh 2s 1 forwards;
}
[ld-scope=prj-form-use] .form-block {
  border: none;
  box-shadow: 0;
  margin-bottom: 2em;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #fdfeff;
  box-shadow: none !important;
  transition: all 0.35s ease-in-out;
}
[ld-scope=prj-form-use] .card.invalid[ld=block] {
  border-left-color: #f00;
}
.form-block *[ld=list-data]:empty:before {
  content: " ( 空白 ... ) ";
  display: block;
  opacity: 0.5;
  font-weight: 300;
}
.form-block .timeline-list .item {
  border-left: 1px solid #ccc;
  border-top: 1px solid transparent;
  padding: 0 0 30px 20px;
  position: relative;
}
.form-block .timeline-list .item .fields {
  margin-top: -0.8em;
}
.form-block .timeline-list .item [ld=drag],
.form-block .timeline-list .item [ld=delete] {
  margin-top: -4px;
}
.form-block .timeline-list .item .title {
  font-size: 1.2em;
  font-weight: 600;
  margin: -10px 0 5px 0;
}
.form-block .timeline-list .item:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #ccc;
}
.form-block .timeline-list .item:last-child {
  border-left: 0px solid transparent;
}
.form-answer .answer.empty:before {
  display: block;
  content: "此項空白";
  padding: 1em;
  opacity: 0.4;
  background: rgba(0,0,0,0.05);
}
@-moz-keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
@-webkit-keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
@-o-keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
@keyframes form-block-hint-fresh {
  0% {
    outline: 5px solid #ff0;
  }
  100% {
    outline: 0px solid rgba(255,255,255,0);
  }
}
.judge .handsontable {
  font-size: 14px;
}
.judge .handsontable td,
.judge .handsontable th {
  vertical-align: middle;
  text-align: center;
}
.judge .handsontable td.auto {
  background: #f9fafb;
  color: #47b;
}
.judge-table tr.check {
  background: #fafbfc;
  color: #444;
}
.judge-table tr.active {
  background: #ff9 !important;
  box-shadow: inset 0 0 10px 2px #fff;
}
.folder-item:hover {
  color: currentColor;
}
.user-icon {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #444;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
