extends /auth/base.pug
block content
  h1(t) 重設密碼連結已寄出。
  p(t) 請檢查您的電子郵件信箱，應該不久就會收到重設密碼信囉。
  img#img(src="/dash/assets/img/p/auth/reset/sending-mail.svg")
  p 
    div(t) 還是沒收到信嗎？別忘了查看您的垃圾信件匣
    div #[a(href="/dash/auth/reset/",t) 或者再寄一次] / #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')",t) 或直接聯絡我們]
  script.
    setTimeout(function() {
      img.setAttribute("src", "/dash/assets/img/p/auth/reset/inbox.svg?" + Math.random().toString(36).substring(2));
    }, 2000);
