body
  background-size: cover

.gd-prj-list-banner
  box-shadow: 0 10px 20px rgba(0,0,0,.2)
  color: #eee
  background-color: #343a40
  margin-bottom: 1.5em
  border-radius: .5em
  text-shadow: 0 .125em .25em rgba(0,0,0,.1)
  width: 100%
  height: 300px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  & > div
    border-radius: .5em
    background: linear-gradient(90deg,rgba(0,0,0,.7),rgba(0,0,0,.4),rgba(0,0,0,.1))
  .btn
    border: 1px solid #fff
    color: #fff
  .btn:hover
    background: #fff
    color: #222

.gd-prj-list-info
  width: 50%
  text-align: left
  margin-left: 1.5em
  padding: 1.5em
  h3
    font-weight: 300
  p.desc
    font-size: .8em
    margin-bottom: 1.5em
    max-width: 400px
    opacity: .65

.gd-prj-list-ctrl
  display: flex
  width: 100%
  justify-content: space-between
  padding: .5em 0
  .btn
    border: 1px solid #fff
    color: #fff
  .btn:hover
    background: #fff
    color: #000
  .btn.active
    background: #007bff
    border: 1px solid #007bff
    color: #fff

.gd-prj-card
  display: block
  margin: 1.5em 0
  padding: 1.5em 0
  display: flex
  flex-direction: column
  width: 19em
  overflow: hidden
  color: #444

.gd-prj-card > a
  text-decoration: none
  color: #444

.gd-prj-card-thumb
  display: block
  //- aspect-ratio.ratio-3by2.bg-light.bg-cover.bg-portrait.rounded-lg.mb-3
  background: #dedfe0
  background-size: cover
  background-position: center center
  border-radius: .2em
  margin-bottom: 1em

.gd-prj-card-name
  display: block
  font-weight: 500
  font-size: 1.25em

.gd-prj-card-owner
  display: block
  margin: 0 0 .5em .1em
  font-size: .8em
  a
    color: #222
    text-decoration: underline

.gd-prj-card-description
  display: block

.gd-prj-list-search-box
  .btn
    border: 1px solid #222
    color: #222
  .btn:hover
    background: #222
    color: #fff
  input
    border: 1px solid #222

.gd-prj-list-pagination
  .btn
    border: 1px solid #222
    color: #222
  .btn:hover
    background: #222
    color: #fff
  .btn.active
    background: #222
    border: 1px solid #222
    color: #fff

#nav-top nav.navbar
  width: 1024px
  margin: auto
  a.nav-link, a.navbar-brand
    color: #222

