//- module
+scope("activity-basic")
  h4 基本資訊
  p.text-sm.text-muted 您可以在這裡為設定整個活動的通用資訊，例如名稱、簡介、主視覺、活動時間等等。
  hr.my-4
  .row.align-items-center.mb-4
    .col-md-2.text-right 活動名稱
    .col-md: input.form-control.border-bottom.rounded-0(style="border:0")
  .row.align-items-center.mb-4
    .col-md-2.text-right 活動代碼
    .col-md: input.form-control.border-bottom.rounded-0(style="border:0")
  .row.align-items-start.mb-4
    .col-md-2.text-right 活動摘要
    .col-md: textarea.form-control(rows="4")
  .row.align-items-center.mb-4
    .col-md-2.text-right 起迄時間
    .col-md
      .d-flex.align-items-center
        input.form-control.border-bottom.rounded-0(style="border:0")
        .text-sm.mx-2 至
        input.form-control.border-bottom.rounded-0(style="border:0")
  .row.align-items-start.mb-4
    .col-md-2.text-right 活動主圖
    .col-md: .w-100: .aspect-ratio.ratio-2by1.bg-secondary.rounded.overflow-hidden
      .vertical-center.bg-semi-dark: .w-100.text-center: .btn.btn-outline-light.btn-upload 上傳 #[input(type="file")]
  //-.row.align-items-center.mb-4
    .col-md-3.text-right 所屬組織
    .col-md
      select.form-control
        option 無
  //-.row.align-items-center.mb-4
    .col-md-3.text-right 連絡信箱
    .col-md
      input.form-control.border-bottom.rounded-0(style="border:0")
  hr.my-4
  .d-flex.justify-content-end
    div: .btn.btn-primary.disabled(ld="submit") 更新資料
