//- module
+scope("form-answer")
  .mb-4.pb-4.form-answer(ld-each="item")
    h4.mb-1(ld="title") 提問的標題
    p.text-muted.mb-2(ld="desc") 提問的簡短描述 ...
    hr.mt-2
    .text-break.rounded.pb-4.answer(ld="content")

