//- module

mixin form-block(opt)
  .card.shadow-sm(data-name=opt.name)
    .card-body: .p-2
      .flex-grow-1
        h4.mb-1(ld="title",contenteditable="true",editable="title") 提問的標題
        p.text-muted.mb-2(ld="description",contenteditable="true",editable="description") 提問的簡短描述 ...
      block
    +criteria
    +footer
mixin footer
  .card-body.border-top: .p-2
    .d-flex.align-items-center
      .flex-grow-1
        .btn.btn-sm.btn-outline-danger.mr-2(ld="delete") 刪除 #[i.i-close]
      .d-flex.align-items-center.mr-4
        .mr-2 公開
        .switch.on(ld="switch",data-name="public")
      .d-flex.align-items-center.mr-4
        .mr-2 必填
        .switch(ld="switch",data-name="required")
      .d-flex.align-items-center.mr-4
        .mr-2 顯示描述
        .switch(ld="switch",data-name="show-description")
      .btn.btn-sm.btn-outline-dark(ld="clone") 複製 #[i.i-clone]
mixin criteria
  .card-body.border-top: .p-2.d-flex.criteria
    .d-flex.mb-2.w-100(ld-each="criteria")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="type",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="types")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="op",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="ops")
      .mr-2.flex-grow-1(ld="input1"): input.form-control(placeholder="值 1")
      .mr-2.flex-grow-1(ld="input2"): input.form-control(placeholder="值 2")
      .flex-grow-1: input.form-control(ld="invalid",placeholder="不通過時的錯誤訊息")
    //-.btn.btn-outline-dark(ld="add") 增加條件...


div(data-name="form-root")
  div(editable="blocks",edit-type="block")

+form-block({name: "form-budget"})
  #prj-budget.w-100

+form-block({name: "form-checkpoint"})
  .pt-4.px-4
    .timeline-list(hostable)
      .item(draggable="true",ld-each="list")
        .title(ld="list-title",editable="checktitle",contenteditable="true") 第一個檢查點
        p(ld="list-description",editable="checkdesc",contenteditable="true") 關於第一個點的詳細項目 ...
    .btn.btn-sm.btn-outline-dark(ld="list-add") 增加項目 #[i.i-plus]


+form-block({name: "form-radio"})
  .px-4.py-3.border.rounded(editable="option",edit-type="block")
    .mb-2(hostable): .d-flex.align-items-center.my-2(draggable="true",ld-each="list")
      input.w-100(type="radio",style="height:1.5em;margin-top:-2px")
      .position-absolute.ml-4(ld="list-title",editable="name") #{item}
    .btn.btn-sm.btn-outline-dark(ld="list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-checkbox"})
  .px-4.py-3.border.rounded
    .mb-2(hostable): .form-check.my-2.clickable(draggable="true",ld-each="list")
      input.form-check-input(type="checkbox",name="checkbox")
      label.form-check-label(ld="list-title",editable="name") 選項 #{i}
    .btn.btn-sm.btn-outline-dark(ld="list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-file"})
  .p-4.bg-light: .vertical-center: .w-100.text-center
    .btn.btn-outline-primary.btn-upload #[span 上傳檔案 ...]#[input(type="file")]

+form-block({name: "form-long-answer"})
  textarea.form-control(rows="5")
  .d-flex.align-items-center.mt-2
    .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox")
      div 啟用 Markdown 語法 ( #[a(href="#") 語法說明] )
    .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox")
      div 預覽

+form-block({name: "form-short-answer"})
  input.form-control(placeholder="請在這裡輸入 ...")

