//- module
mixin form-block(opt)
  .form-block.card.shadow-sm(ld="block",data-name=opt.name)
    .card-body
      .d-flex
        .flex-grow-1
          h4.mb-1.single-line.w-100(ld="title",editable="title") 提問的標題
          p.text-muted.mb-2.single-line.w-100(ld="desc",editable="desc") 提問的簡短描述 ...
        .ml-4
          .dropdown(ld="purpose-menu")
            .btn.btn-sm.btn-light.dropdown-toggle(data-toggle="dropdown") 用途
            .dropdown-menu.dropdown-menu-right
              .dropdown-item.d-flex(ld="purpose",data-name="title") #[.flex-grow-1 標題]#[div: i.i-check.text-success]
              .dropdown-item.d-flex(ld="purpose",data-name="description")
                .flex-grow-1 簡介
                div: i.i-check.text-success
              .dropdown-item.d-flex(ld="purpose",data-name="thumb") #[.flex-grow-1 縮圖]#[div: i.i-check.text-success]
      block
      .alert.alert-danger.mt-2.mb-0.ld.ld-float-btt-in.p-2.shadow-sm(ld="invalid")
    div(ld="edit-only")
      +criteria
      +footer
mixin footer
  .card-body.border-top: .p-2
    .d-flex.align-items-center
      .flex-grow-1
        .btn.btn-sm.btn-outline-danger.mr-2(ld="delete") 刪除 #[i.i-close]
      .d-flex.align-items-center.mr-4
        .mr-2 公開
        .switch.on(ld="switch",data-name="public")
      .d-flex.align-items-center.mr-4
        .mr-2 必填
        .switch(ld="switch",data-name="required")
      .d-flex.align-items-center.mr-4
        .mr-2 顯示描述
        .switch(ld="switch",data-name="show-desc")
      .btn.btn-sm.btn-outline-dark(ld="clone") 複製 #[i.i-clone]
mixin criteria
  .card-body.border-top: .p-2.d-flex.criteria
    .d-flex.mb-2.w-100.align-items-center(ld-each="criteria")
      .mr-2: .switch.switch-lg(ld="enabled",style="width:3em")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="type",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="types")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="op",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="ops")
      .mr-2.flex-grow-1(ld="input1"): input.form-control(placeholder="值 1")
      .mr-2.flex-grow-1(ld="input2"): input.form-control(placeholder="值 2")
      div(style="flex:3 0 auto"): input.form-control(ld="input-invalid",placeholder="不通過時的錯誤訊息")
    //-.btn.btn-outline-dark(ld="add") 增加條件...

+form-block({name: "form-budget"})
  #prj-budget.w-100

+form-block({name: "form-checkpoint"})
  .pt-4.px-4
    .timeline-list(hostable)
      .item(draggable="true",ld-each="list",data-user-editable="true"): .d-flex
        i.i-bars.mr-2.text-muted(ld="drag")
        .flex-grow-1
          .title(ld="data",editable="title") 新項目
          p(ld="data",editable="desc") 關於這個項目的描述 ...
        i.i-close.mr-2.clickable.text-danger(ld="delete")
    .btn.btn-sm.btn-outline-dark(ld="list-add") 增加項目 #[i.i-plus]


+form-block({name: "form-radio"})
  .px-4.py-3.border.rounded(editable="option",edit-type="block")
    .mb-2
      div(hostable): .d-flex.align-items-center.clickable.my-2(draggable="true",ld-each="list")
        i.i-bars.mr-2.text-muted(ld="drag")
        i.mr-2(ld="state",type="radio")
        .flex-grow-1.mr-2(ld="data",editable="title")
        .flex-grow-1(ld="other"): input.form-control(ld="other-value")
        i.i-close.mr-2.clickable.text-danger(ld="delete")
    .btn.btn-sm.btn-outline-dark(ld="edit-only list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-checkbox"})
  .px-4.py-3.border.rounded
    .mb-2
      div(hostable): .d-flex.align-items-center.clickable.my-2(draggable="true",ld-each="list")
        i.i-bars.mr-2.text-muted(ld="drag")
        i.mr-2(ld="state",type="checkbox")
        .flex-grow-1.mr-2(ld="data",editable="title")
        .flex-grow-1(ld="other"): input.form-control(ld="other-value")
        i.i-close.mr-2.clickable.text-danger(ld="delete")
    .btn.btn-sm.btn-outline-dark(ld="edit-only list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-file"})
  .p-4.bg-light: .vertical-center: .w-100.text-center
    .btn.btn-outline-primary.btn-upload #[span 上傳檔案 ...]#[input(type="file")]

+form-block({name: "form-long-answer"})
  .position-relative
    textarea.form-control(rows="5",ld="input-field edit-panel")
    .w-100.bg-light.rounded.p-3.text-break(ld="preview-panel",style="min-height:200px")
  .d-flex.align-items-center.mt-2
    .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox",ld="use-markdown")
      div 啟用 Markdown 語法 ( #[a(href="#") 語法說明] )
    .d-none(ld="if-markdown"): .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox",ld="toggle-preview")
      div 預覽

+form-block({name: "form-short-answer"})
  input.form-control(ld="input-field",placeholder="請在這裡輸入 ...")

