//- module

mixin form-block(opt)
  .card.shadow-sm(data-name=opt.name)
    .card-body: .p-2
      .flex-grow-1
        h4.mb-1(ld="title",editable="title") 提問的標題
        p.text-muted.mb-2(ld="desc",editable="desc") 提問的簡短描述 ...
      block
    div(ld="edit-only")
      +criteria
      +footer
mixin footer
  .card-body.border-top: .p-2
    .d-flex.align-items-center
      .flex-grow-1
        .btn.btn-sm.btn-outline-danger.mr-2(ld="delete") 刪除 #[i.i-close]
      .d-flex.align-items-center.mr-4
        .mr-2 公開
        .switch.on(ld="switch",data-name="public")
      .d-flex.align-items-center.mr-4
        .mr-2 必填
        .switch(ld="switch",data-name="required")
      .d-flex.align-items-center.mr-4
        .mr-2 顯示描述
        .switch(ld="switch",data-name="show-desc")
      .btn.btn-sm.btn-outline-dark(ld="clone") 複製 #[i.i-clone]
mixin criteria
  .card-body.border-top: .p-2.d-flex.criteria
    .d-flex.mb-2.w-100(ld-each="criteria")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="type",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="types")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="op",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="ops")
      .mr-2.flex-grow-1(ld="input1"): input.form-control(placeholder="值 1")
      .mr-2.flex-grow-1(ld="input2"): input.form-control(placeholder="值 2")
      .flex-grow-1: input.form-control(ld="invalid",placeholder="不通過時的錯誤訊息")
    //-.btn.btn-outline-dark(ld="add") 增加條件...

+form-block({name: "form-budget"})
  #prj-budget.w-100

+form-block({name: "form-checkpoint"})
  .pt-4.px-4
    .timeline-list(hostable)
      .item(draggable="true",ld-each="list",data-user-editable="true")
        .title(ld="list-data",editable="title") 第一個檢查點
        p(ld="list-data",editable="desc") 關於第一個點的詳細項目 ...
    .btn.btn-sm.btn-outline-dark(ld="list-add") 增加項目 #[i.i-plus]


+form-block({name: "form-radio"})
  .px-4.py-3.border.rounded(editable="option",edit-type="block")
    .mb-2
      div(hostable): .d-flex.align-items-center.my-2(draggable="true",ld-each="list")
        input.w-100(type="radio",style="height:1.5em;margin-top:-2px",ld="list-input")
        .position-absolute.ml-4(ld="list-data",editable="title")
      .d-flex.my-2.align-items-center
        input(type="radio",ld="list-other-option",style="height:1.5em;margin-top:-2px")
        .mx-2 其它
        .flex-grow-1: input.form-control(ld="list-other")


    .btn.btn-sm.btn-outline-dark(ld="edit-only list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-checkbox"})
  .px-4.py-3.border.rounded
    .mb-2
      div(hostable): .form-check.clickable.my-2(draggable="true",ld-each="list")
        input.form-check-input(type="checkbox",ld="list-input")
        label.form-check-label(ld="list-data",editable="title")
      .d-flex.my-2.align-items-center
        .form-check.mr-2
          input.form-check-input(type="checkbox",ld="list-other-option")
          label.form-check-label(editable="name") 其它
        .flex-grow-1: input.form-control(ld="list-other")
    .btn.btn-sm.btn-outline-dark(ld="edit-only list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-file"})
  .p-4.bg-light: .vertical-center: .w-100.text-center
    .btn.btn-outline-primary.btn-upload #[span 上傳檔案 ...]#[input(type="file")]

+form-block({name: "form-long-answer"})
  .position-relative
    textarea.form-control(rows="5",ld="input-field edit-panel")
    .w-100.bg-light.rounded.p-3(ld="preview-panel",style="min-height:200px")
  .d-flex.align-items-center.mt-2
    .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox",ld="use-markdown")
      div 啟用 Markdown 語法 ( #[a(href="#") 語法說明] )
    .d-none(ld="if-markdown"): .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox",ld="toggle-preview")
      div 預覽

+form-block({name: "form-short-answer"})
  input.form-control(ld="input-field",placeholder="請在這裡輸入 ...")

