//- module
mixin form-block(opt)
  .form-block.card.shadow-sm(ld="block",data-name=opt.name)
    .card-body
      .d-flex
        .flex-grow-1
          h4.mb-2.single-line.w-100(ld="title",editable="title") 提問的標題
          p.text-muted.mb-2.single-line.w-100(ld="desc",editable="desc") 提問的簡短描述 ...
        .ml-4
          .btn-group-vertical(ld="edit-only")
            .btn.btn-sm.btn-light(ld="move-up",style="padding:0 .25em") #[i.i-chevron-up]
            .btn.btn-sm.btn-light(ld="move-down",style="padding:0 .25em") #[i.i-chevron-down]
      block
      .alert.alert-danger.mt-2.mb-0.ld.ld-float-btt-in.p-2.shadow-sm(ld="invalid")
    div(ld="edit-only")
      +criteria
      +footer
mixin footer
  .card-body.border-top: .p-2
    .d-flex.align-items-center
      .flex-grow-1
        .btn.btn-sm.btn-outline-danger.mr-2(ld="delete") 刪除 #[i.i-close]
        .btn.btn-sm.btn-outline-secondary(ld="clone") 複製 #[i.i-clone]
      .d-flex.align-items-center.ml-4
        .mr-2 公開
        .switch.on(ld="switch",data-name="public")
      .d-flex.align-items-center.ml-4
        .mr-2 必填
        .switch(ld="switch",data-name="required")
      .d-flex.align-items-center.ml-4
        .mr-2 顯示描述
        .switch(ld="switch",data-name="show-desc")

      .ml-4
        .dropup(ld="purpose-menu edit-only")
          .btn.btn-sm.btn-light.dropdown-toggle(data-toggle="dropdown") 用途
          .dropdown-menu.dropdown-menu-right
            each item in [["標題","title"],["簡介","description"],["縮圖","thumb"],["標籤","tag"],["分類","category"]]
              .dropdown-item.d-flex(ld="purpose",data-name=item[1])
                .flex-grow-1 #{item[0]}
                div: i.i-check.text-success

mixin criteria
  .card-body.border-top(ld="has-criteria"): .p-2.d-flex.criteria
    .d-flex.mb-2.w-100.align-items-center(ld-each="criteria")
      .mr-2: .switch.switch-lg(ld="enabled",style="width:3em")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="type",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="types")
      .dropdown.mr-2
        .btn.btn-light.dropdown-toggle(ld="op",data-toggle="dropdown")
        .dropdown-menu
          a.dropdown-item(ld-each="ops")
      .mr-2.flex-grow-1(ld="input1"): input.form-control(placeholder="值 1")
      .mr-2.flex-grow-1(ld="input2"): input.form-control(placeholder="值 2")
      div(style="flex:3 0 auto"): input.form-control(ld="input-invalid",placeholder="不通過時的錯誤訊息")
    //-.btn.btn-outline-dark(ld="add") 增加條件...

+form-block({name: "form-budget"})
  #prj-budget.w-100

+form-block({name: "form-checkpoint"})
  .pt-4.px-4
    .timeline-list(hostable)
      .item(draggable="true",ld-each="list"): .d-flex
        i.i-bars.mr-2.text-muted(ld="drag")
        .flex-grow-1.mr-2.fields
          input.form-control.border.rounded.mb-2(ld="input",data-name="title",placeholder="查核階段項目名稱 ...")
          input.form-control.border.rounded.mb-2(ld="date input",data-name="date",placeholder="查核階段時間 ...")
          textarea.form-control(rows="4",ld="input",data-name="desc",placeholder="關於這個查核項目的描述 ...")
        i.i-close.mr-2.clickable.text-danger(ld="delete")
    .btn.btn-sm.btn-outline-dark(ld="list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-radio"})
  .px-4.py-3.border.rounded(editable="option",edit-type="block")
    .mb-2
      div: .d-flex.align-items-center.clickable.my-2(draggable="true",ld-each="list")
        i.i-bars.mr-2.text-muted(ld="drag")
        i.mr-2(ld="state",type="radio")
        .flex-grow-1.mr-2(ld="data",editable="title")
        .flex-grow-1(ld="other"): input.form-control(ld="other-value")
        i.i-close.mr-2.clickable.text-danger(ld="delete")
        .switch.ml-2(ld="other-enabled")
    .btn.btn-sm.btn-outline-dark(ld="edit-only list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-checkbox"})
  .px-4.py-3.border.rounded
    .mb-2
      div: .d-flex.align-items-center.clickable.my-2(draggable="true",ld-each="list")
        i.i-bars.mr-2.text-muted(ld="drag")
        i.mr-2(ld="state",type="checkbox")
        .flex-grow-1.mr-2(ld="data",editable="title")
        .flex-grow-1(ld="other"): input.form-control(ld="other-value")
        i.i-close.mr-2.clickable.text-danger(ld="delete")
        .switch.ml-2(ld="other-enabled")
    .btn.btn-sm.btn-outline-dark(ld="edit-only list-add") 增加項目 #[i.i-plus]

+form-block({name: "form-file"})
  .p-4.bg-light: .vertical-center: .w-100.text-center
    .btn.btn-outline-primary.btn-upload.my-4 #[span 上傳檔案 ...]#[input(type="file",ld="input-file",multiple)]
    div
      .progress.my-2.position-relative.d-none(ld="loading")
        .progress-bar.progress-bar-striped.progress-bar-animated(ld="bar")
        .text-center.position-absolute.w-100(ld="bar-label",style="line-height:1.3em") 0%
      .py-1.px-2.my-2.bg-white.shadow-sm.rounded.text-left.d-none(ld-each="file"): .d-flex.align-items-center
        .name.flex-grow-1(ld="name")
        .size.rounded.px-2.text-sm.ml-2.text-muted.bg-light(ld="type")
        .size.rounded.px-2.text-sm.ml-2.text-muted.bg-light(ld="size")

+form-block({name: "form-thumbnail"})
  .p-4.bg-light: .vertical-center: .w-100.text-center
    .btn.btn-outline-primary.btn-upload.my-4 #[span 上傳縮圖 ...]#[input(type="file",ld="input-file")]
    div
      .progress.my-2.position-relative.d-none(ld="loading")
        .progress-bar.progress-bar-striped.progress-bar-animated(ld="bar")
        .text-center.position-absolute.w-100(ld="bar-label",style="line-height:1.3em") 0%
      .py-1.px-2.my-2.bg-white.shadow-sm.rounded.text-left.d-none(ld-each="file"): .d-flex.align-items-center
        .name.flex-grow-1(ld="name")
        .size.rounded.px-2.text-sm.ml-2.text-muted.bg-light(ld="type")
        .size.rounded.px-2.text-sm.ml-2.text-muted.bg-light(ld="size")



+form-block({name: "form-long-answer"})
  .position-relative
    textarea.form-control(rows="5",ld="input-field edit-panel")
    .w-100.bg-light.rounded.p-3.text-break(ld="preview-panel",style="min-height:200px")
  .d-flex.align-items-center.mt-2
    .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox",ld="use-markdown")
      div 啟用 Markdown 語法 ( #[a(href="https://markdown.tw/",target="_blank",rel="noopener noreferrer") 語法說明] )
    .d-none(ld="if-markdown"): .d-flex.align-items-center.text-sm.text-muted.mr-4
      input.mr-1(type="checkbox",ld="toggle-preview")
      div 預覽

+form-block({name: "form-short-answer"})
  input.form-control(ld="input-field",placeholder="請在這裡輸入 ...")

+form-block({name: "form-tag"})
  input.form-control(ld="input-field",placeholder="以逗號等標點符號分隔標籤 ...")

+form-block({name: "form-datetime"})
  .d-flex.align-items-center.mb-4
    input.form-control(ld="input-field start",placeholder="請輸入開始時間 ...")
    span.mx-4(ld="is-range") 至
    input.form-control(ld="input-field end is-range",placeholder="請輸入結束時間 ...")
  .flex-grow-1.text-nowrap.d-flex.align-items-center(ld="edit-only")
    .mr-2 讓使用者以區間形式 ( 起始至結束 ) 設定時間
    div: .switch.ml-2(ld="range-enabled")
