//- module
style(type="text/css"): :stylus
  .card { margin-bottom: 1em }
  .timeline-list
    .item
      border-left: 1px solid #ccc
      //- prevent margin collapsing
      border-top: 1px solid transparent
      padding: 0 0 30px 20px
      position: relative
      .title
        font-size: 1.2em
        font-weight: 600
        margin: -10px 0 5px 0
      &:after
        content: " "
        display: block
        position: absolute
        top: 0
        left: -5px
        border-radius: 50%
        width: 10px
        height: 10px
        background: #ccc
    .item:last-child, .item:nth-last-child(2)
      border-left: 0px solid transparent
  *[ld=list-data]:empty
    &:before
      content: " ( 空白 ... ) "
      display: block
      opacity: .5
      font-weight: 300
