# with cloudflare, SSL full encryption mode is required to prevent infinite redirecting.
server {
  server_name sch001.dev;
  include ./sites-enabled/grantdash.io/modules/http.config;

  # simply choose one from following two root: 
  # with brd as root
  root /Users/tkirby/workspace/zbryikt/grantdash/server/users/org/g0v-jothon/brd/sch001/static/;

  # with org as root
  #root /Users/tkirby/workspace/zbryikt/grantdash/server/users/org/g0v-jothon/static/;

  # for preparing ssl certificate
  # location / {
  #   root <some-tmpdir>
  # }
}

server {
  server_name sch001.dev;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/sch001.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/sch001.dev/server.key;

  location / {
    # simply choose one from following two root: 

    # with brd as root
    root /Users/tkirby/workspace/zbryikt/grantdash/server/users/org/g0v-jothon/brd/sch001/static/;

    # with org as root
    # root /Users/tkirby/workspace/zbryikt/grantdash/server/users/org/g0v-jothon/static/;
  }

  location ~ ^/brd/(?<slug>[^/]+)/(?<path>.*) {
    root /Users/tkirby/workspace/zbryikt/grantdash/server/users/org/g0v-jothon/brd/$slug/static/;
    try_files /$path /$path/index.html =404;
  }

  include ./sites-enabled/grantdash.io/domains/dev.config;
}
