include /modules/common.pug
.ldcv.ldcvmgr(data-name="closed",data-lock="true"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 徵件已經截止
  p 本次徵件已經結束，已經不再接受提案送件申請
  br
  .m-auto.text-left.text-muted
    p 很抱歉！本次徵件活動已經截止了。若想了解活動的時程表，請參考活動的公開頁面或簡章。若您覺得這個狀況與主辦單位公告的資訊不符，請聯繫主辦單位，看看是否有任何可以改善的地方。
    br
    a.btn.btn-primary.btn-block.btn-lg(href="#",onclick="window.history.back()") 回上頁
