include /modules/common.pug
.ldcv.ldcvmgr(data-name="consent-required",data-lock="true")
  .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
    h1 無法繼續
    p 您需要同意我們的條款才能進行接下來的動作
    br
    .m-auto.text-left.text-muted
      p 由於我們服務的設計與用途可能牽涉到一些需要您同意的項目，因此若您不同意我們所提出的條款，我們無法繼續提供服務給您。
      p 若您改變心意，決定同意我們的條款，您可以再試一次前次的動作，我們將再次提供我們的條款並再次詢問您的意願。
      br
      .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") 關閉對話框
