include /modules/common.pug
.ldcv.ldcvmgr(data-name="deploying"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 網站更新中
  p 您的網站更新請求已送出 #[i.ml-2.i-check.text-success]
  br
  .m-auto.text-left.text-muted
    p 我們已在進行您的網站更新，請稍候連上您的頁面確認網站是否已正確更新。
    p 請注意，有時網站會因為瀏覽器快取而仍看到舊版本的頁面，這時您可以嘗試重新載入頁面，或者清除瀏覽器快取後再試一次。也請您確認您有在指定網址與分支 ( branch ) 中正確更新您的網站。
    br
    .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") 關閉對話框

