include /modules/common.pug
.ldcv.ldcvmgr(data-name="deploying"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 網站更新失敗
  p 您的網站未能更新 #[i.ml-2.i-close.text-danger]
  br
  .m-auto.text-left.text-muted
    p 我們沒能開始更新您的網站。可能跟您的設定有關，您可以確認您的設定是否正確後再試一次，若您持續碰到這個問題，請您 #[a(href="#",onclick="lda.ldcvmgr.toggle('contact'):") 聯絡我們] ，由我們為您排除這個問題。
    br
    .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") 關閉對話框

