include /modules/common.pug
.ldcv.ldcvmgr(data-name="error-404"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 很抱歉！
  p 您要求的內容並不存在，我們無法提供給您。
  br
  .m-auto.text-left.text-muted
    p 您嘗試使用的內容並不存在。也許您用錯了帳號，或者尚未登入成功，也可能單純的就是沒有內容。請檢查一下您的登入狀態跟網址，看是否有任何需要調整的地方。
    p 若您認為這是個錯誤，您亦可 #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") 與我們聯絡]，讓我們為您排除這個問題。
    br
    .row.no-gutters
      .col-md.mr-2: .btn.btn-outline-dark.btn-block.btn-lg.mr-2(onclick="lda.ldcvmgr.toggle('contact')") 聯絡我們
      .col-md.ml-2: a.btn.btn-primary.btn-block.btn-lg.mr-2(href="/") 回到首頁
