include /modules/common.pug
.ldcv.ldcvmgr(data-name="ie"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 瀏覽器不相容
  p 很抱歉，我們目前尚不支援您所使用的瀏覽器
  br
  .m-auto.text-left.text-muted
    p 由於有些瀏覽器如微軟的 IE 或較早版本的 Edge 已經有些年代，他們並不支援許多現在的網頁技術，在安全性上可能也有顧慮，因此我們目前並不支援這些瀏覽器。
    p 您可以繼續瀏覽這個服務，但我們並沒有針對過時的瀏覽器做詳盡的測試，因此您可能會碰到使用上的問題，或者服務根本無法正常使用。建議您改用其它的現代瀏覽器，包括 Google Chrome 或 Mozilla Firefox 。若您想使用 Edge ，#[a(href="https://www.microsoftedgeinsider.com/zh-tw/download") 最新版本的 Edge] 已經採用 Chromium 的內核，因此您也可以嘗試使用。這些瀏覽器都有內建自動更新功能，若使用他們，您不再需要擔心您的軟體過時。
    br
    .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") 關閉對話框
