include /modules/common.pug
.ldcv.ldcvmgr(data-name="no-admin")
  .base.w-480.rwd: .inner.card: .card-body.text-center: .p-2
    h4 您沒有可管理的活動。
    br
    .btn.btn-outline-primary(data-ldcv-set="") 關閉對話框
