include /modules/common.pug
.ldcv.ldcvmgr(data-name="not-open",data-lock="true"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 這個功能尚未開放
  p 您想使用的這個功能目前還沒有開放使用
  br
  .m-auto.text-left.text-muted
    p 很抱歉！這個功能尚未開放 ( 或者，已經結束了 ) 。您可能是不小心走進來的，但若想了解活動的時程表，請參考該活動的公開頁面或簡章。若您覺得這個狀況與主辦單位公告的資訊不符，請聯繫主辦單位，看看是否有任何可以改善的地方。
    br
    .btn.btn-primary.btn-block.btn-lg(href="/") 回首頁

