include /modules/common.pug
.ldcv.ldcvmgr(data-name="offline-retry",data-lock="true"): .base.w-480: .inner.card: .card-body: .p-4
  .text-center
    div 與主機的連線中斷了，嘗試重新連線 ...
    .ld.ld-spin.ld-spinner.text-lg.mt-4

