include /modules/common.pug
.ldcv.ldcvmgr(data-name="publishing",data-lock="true"): .base.w-480: .inner.card: .card-body: .p-4
  .text-center
    div 您的變更已發布。
    .pt-4.text-lg: .ld.ld-jump-in: i.i-check.text-lg.text-success
