include /modules/common.pug
.ldcv.ldcvmgr(data-name="publishing",data-lock="true"): .base.w-480: .inner.card: .card-body: .p-4
  .text-center
    div 發布您的變更中 ...
    .ld.ld-spin.ld-spinner.text-lg.mt-4

