include /modules/common.pug
.ldcv.ldcvmgr(data-name="redirect",data-lock="true"): .base.w-640: .inner.card: .card-body.text-center: .p-4
  .mb-4 好的，那麼讓我們帶您過去 ...
  .ld.ld-spin.ld-spinner.text-lg.text-secondary
