include /modules/common.pug
.ldcv.ldcvmgr(data-name="token-link"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  .mb-4 連結已建立，請儲存設定後，將下列連結複製後提供給您的邀請對象：
  .bg-light.p-2.rounded.mb-4(ld="token-link")
  .btn.btn-lg.btn-primary.btn-block(data-ldcv-set="") 關閉對話框

