include /modules/common.pug
.ldcv.ldcvmgr(data-name="verification-mail-sent"): .base.w-480.rwd: .inner.card: .card-body.text-center: .p-4
  h1 認證信已寄出
  p 請檢查您的電子郵件信箱看看是否有收到認證信。信件內將會包含一個認證連結，點擊後即可完成認證。
  .m-auto.text-left.text-muted
    img.my-4.mx-auto.d-block(src="/dash/assets/img/p/auth/reset/inbox.svg")
    .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") 關閉對話框
