//- module
h1 沉浸式內容國際合資合製要點
p 行政公告 2020.03.24

h2 前言

p 面向未來內容產業發展趨勢，文化內容策進院有鑒於台灣此一優勢，以三年為期，擬定「沉浸式內容國際合資或合製補助申請要點」扶植。沉浸式內容國際合資或合製補助申請範圍，含「原型開發」及「製作」兩種類型之案件，除支持沉浸式內容完成製作，更支持前端的作品開發階段並產出原型，期望透過跨國合製，產製具有國際能見度與市場潛力的內容，並讓台灣成為國際沉浸式內容創新基地。

h2 核定額度
ul
  li 原型開發類申請金額上限：#[b 上限為每案新台幣100萬元。] (實際金額按照評審小組核定並公告為準。)
  li 製作類申請金額上限 : #[b 上限為每案新臺幣350萬元。] (實際金額按照評審小組核定並公告為準。)

h2 作品主題

p  主題不限、形式不拘（可為 VR360、互動式、多人連線、XR、體感、沉浸式聲音和複合式內容場域體驗等），作品長度視創作主題而定。
ul
  li 廣告類作品不得申請沉浸式內容合資合製方案
  li 需同意本院為出品人之一，本院並得相關成果於媒體社群宣傳露出，宣傳期間、地點、方式由文策院決定，申請者並同意為必要之協力義務，包含取得宣傳露出所需之一切權利。

h2 報名方式

ul
  li 報名期限 :台灣時間109年3月3日起至109年4月30日(含30日，以報名完整資料繳齊時間為準)
  li 公布獎助名單 :109年5月中下旬

p Email主旨請註明VR Grant合製合資獎補助申請/申請單位名稱/原型開發類或製作類

h2 申請資格

p 申請者：

ul
  ul 以存續有效狀態之公司提出申請，不限是否為依中華民國法令所設立之公司。
  ul 依中華民國法令所設立之公司，須有國外合資或合製之團隊，並提出「沉浸式內容國際合資合製補助申請要點須知及應繳交資料、文件說明」所列之相關證明。
  ul 非中華民國法令所設立之公司提出申請者，其原型開發、製作團隊組成，需達到附錄三所載之積分標準，並提出相關證明。未達標準者，其申請案件不予以進行審核，最終審核結果由評審小組決議為主。

p *** 本院公告之沉浸式內容國際合資合製要點更新版已於3月24日內容重新調整，詳細更新要點附錄一、二及三內容請於本院網站或此處下載 : ** ( https://drive.google.com/drive/u/0/folders/1lJUOYNVVnMrRqePnPNK4aPOcnrMvS3LG )

p 要點於109年3月24日重新擬定事項如下 :

ul
  li 一、 原沉浸式內容國際合資合製補助申請將於3月底截止收件，今時間延至**4月30日**截止收件，並評選名單於**5月中下旬**公佈。
  li 二、 增列申請人資格得為**高等教育機構**，以及其相應資格檢視標準。
  li 三、 本要點**不補助**機械設備費用，機械設備**租賃費**則不在此限。
  li 四、 通過申請原型開發類及製作類者，經本院確認完成開發成品後，於**一個月內依規定結案**。
  li 五、 原型開發類及製作類申請者，**外國資金比例無設定佔比之上限**，惟若全數為外國資金者，則需達到附錄三之最低積分。
  li 六、 原型開發類及製作類申請者，企劃書應以**中文及英文書**寫各一份，外文書寫之合作契約書、同意書及意向書等，應翻譯成中文或英文。
  li 七、 原型開發類及製作類申請者，所以有資料應於期限內以電子檔傳送至 : <grant.gm@taicca.tw>
  li 八、 原型開發類及製作類申請者，**完整分鏡腳本或能完整呈現作品內容之文件或檔案，應含內容大綱及人物介紹。**
  li 九、 原型開發類及製作類申請者，實際支出證明需經會計師驗證之總經費收支明及受補助之經費原始支出憑證正本(其為境外支出憑證者，得以影本替代，惟需經當地會計師簽證及我國駐外單位或外國駐台單位認證，境外支出憑證內容應翻譯成中文，且應換算成新臺幣計價)，並應附會計師查核報告(報告中應註明獲沉浸式內容國際合資合製補助者出資總金額及比率)。

p  **※  本院公告之沉浸式內容國際合資合製要點更新版已於3月24日重新上網，詳細更新要點內容請於本院網站或此處下載 : **<https://drive.google.com/drive/u/0/folders/1lJUOYNVVnMrRqePnPNK4aPOcnrMvS3LG>

h3 聯絡窗口
