//- module
doctype html
include /modules/version.pug
include /../../static/assets/lib/ldui/pug/ldui.pug
-
  var ctrl = {
    cover: {authpanel: false},
    navtop: {placeholder: true, shown: true},
    foot: {shown: true}
  }
- var vars = {root: ""}
block vars
html
  head
    meta(charset="utf-8")
    //- Global site tag (gtag.js) - Google Analytics
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-174943737-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-174943737-1');
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    +css("/dash/assets/lib/tagify/3.9.1/tagify.css")
    +css("/dash/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/dash/assets/lib/ldui/ldui.min.css")
    +css("/dash/css/index.css")
    +css("/sys/css/index.css")
    block head
    script if(/MSIE|Trident/.exec(navigator.userAgent)) { window.location.href = "/dash/err/ie/" };
  body(data-spy=(ctrl.scrollspy?"scroll":false),data-target=(ctrl.scrollspy?ctrl.scrollspy:false))
    //-+script("/js/pack/base.min.js")
    include modules/common.pug
    include modules/mixins/index.pug
    include modules/widget/navtop.pug
    include modules/cover/not-sync.pug
    include modules/cover/offline-retry.pug
    .ldNotify
    block body
    if ctrl.cover.authpanel
      include /modules/widget/authpanel.pug
      .w-640.mx-auto: +authpanel
    if ctrl.foot.shown
      include /modules/widget/foot.pug

    +script("/dash/assets/lib/moment.js/2.25.3/moment.min.js")
    +script("/dash/assets/lib/ldCaret/1.0.0/ldcaret.min.js")
    +script("/dash/assets/lib/moment-timezone.js/0.5.31/moment-timezone.min.js")
    +script("/dash/assets/lib/clipboard.js/2.0.4/clipboard.min.js")
    +script("/dash/assets/lib/tagify/3.9.1/tagify.min.js")
    +script("/dash/assets/lib/dompurify/2.0.11/purify.min.js")
    +script("/dash/assets/lib/marked/0.8.0/marked.min.js")
    +script("/dash/assets/lib/bootstrap.native/2.0.27/bootstrap-native-v4.min.js")
    +script("/dash/assets/lib/ldui/ldui.min.js")
    +script("/dash/assets/lib/ldc/ldc.min.js")
    +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/dash/js/util/stage.js")
    block script
    +script("/dash/js/ldsite.js")
    +script("/dash/js/site.js")
