extends /base.pug
block vars
  - ctrl.navtop.shown = true;
  - ctrl.navtop.placeholder = false;
block head
block body
  .w-100.h-100.vertical-center: .w-100: .w-640.mx-auto.typeset.heading-contrast.text-left
    .py-4
      h4: a(href="/dash/admin/")  主控台
      p 若您有管理員身份，可以在這邊管理、設定您的組織與活動。
    .py-4
      h4: a(href="/dash/auth/")  登入帳號
      p 您可以透過這個連結登入系統。
