doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldui/ldui.min.js")
    style(type="text/css"): :stylus
      .folder-item
        display: flex
        align-items: center
      .folder-item .inner
        flex: 1
        display: inline-block
        border: 1px solid #ddd
        border-radius: .25em
        box-shadow: 0 1px 1px rgba(0,0,0,.1)
        padding: .5em

  body
    mixin folder(opt)
      .folder.show(draggable="true")
        +item(opt.item)
        .folder-menu
          each item in opt.children
            +item(item)

    style(type="text/css"): :stylus
      .folder > .folder-item .url { display: none }
             
    mixin item(opt)
      .folder-item(class=opt.toggle ? "folder-toggle" : "",draggable=opt.toggle ? "" : "true")&attributes(attributes)
        .inner.d-flex.align-items-center
          i.i-bars.mr-4
          .name.flex-grow-1.mr-2: input.form-control(name="name",value=opt.name,placeholder="選單文字")
          .url.flex-grow-1: input.form-control(name="url",placeholder="URL",value=opt.url || '')
          i.i-radio.ml-4
          i.i-clone.ml-4
          i.i-close.ml-4.mr-4
    -
      var tree = [
        {name: "活動辦法"},
        {name: "關於我們"},
        {item: {name: "歷屆活動", toggle: true}, children: [ {name: "2018春季"}, {name: "2018秋季"} ]}, 
        {name: "成果報告"}
      ];

    .w-1024.rwd.mx-auto.h-75.my-4.d-flex.flex-column.border.rounded
      .d-none
        +item({})#item-sample
        #folder-sample.folder.show(draggable="true")
          .folder-menu
      #root.folder-root
        //-each item in tree
          if item.item
            +folder(item)
          else
            +item(item)
      //-#root: .folder-root
        .folder-item(draggable="true"): .inner 活動辦法
        .folder-item(draggable="true"): .inner 關於我們
        .folder(draggable="true")
          .folder-item.folder-toggle: .inner 歷屆活動
          .folder-menu
            .folder-item(draggable="true"): .inner 2018 春季
            .folder-item(draggable="true"): .inner 2018 秋季
        .folder-item(draggable="true"): .inner 成果報告


    +script("/js/modules/nav.js")
    +script("/assets/lib/ctrlz/ctrlz.bundle.min.js")
    script: :lsc
      json0OtDiff = require("json0-ot-diff")
      otJson0 = require("ot-json0")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    +script("/js/admin/folder-dynamics.js")
