doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldui/ldui.min.js")
  body
    #root.w-1024.rwd.mx-auto.h-75.my-4.d-flex.flex-column.border.rounded
      input(type="checkbox",name="a")
      input(type="checkbox",name="a")
      input(type="checkbox",name="a")
      input(type="checkbox",name="a")

    script: :lsc
      ld$.find '#root input' .map -> it.addEventListener \input, ->
        ld$.find '#root input' .map -> console.log it.checked
