doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    +script("/js/util/sdb-adapter.js")
    +script("/js/util/hub.js")
    +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
    style(type="text/css"): :stylus
      .folder-toggle { display: none }
  body
    script: :lsc
      console.log "initiailizing ..."
      sdb = new sharedb-wrapper url: {scheme: window.location.protocol.replace(':',''), domain: window.location.host}
      console.log "fetch snapshot ..."
      sdb.get-snapshot {id: 'brd-4'}
        .then -> console.log it
        .catch -> 
      /*
      sdb.connection.fetchSnapshot 'doc', 'brd-4', null, (e, s) ->
        console.log "snapshot fectched: "
        console.log e, s
      */
      /*
      console.log "get doc ..."
      sdb.get {id: \prj-sample}
        .then ->
          console.log "doc:", it
          console.log "fecth snapshot: "
          sdb.connection.fetchSnapshot 'doc', 'prj-sample', null, (e, s) ->
            console.log "snapshot fectched: "
            console.log e, s
      */
