doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    +script("/js/util/sdb-adapter.js")
    +script("/js/util/hub.js")
    +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
    style(type="text/css"): :stylus
      .folder-toggle { display: none }
  body
    +nbr(2)
    .w-768.mx-auto.rwd
      h4 客製頁面
      p.text-muted 您可以在這裡為設定整個活動的頁面。
      hr
      .row.no-gutters.mb-4
        .col-md: .mr-4.h-100.py-3.pr-3.rounded
          h5 不自行客製頁面
          .text-muted.mb-2 我們將使用預設樣板為您的活動提供基本介紹以及提案列表。
          .btn.d-block.btn-outline-secondary(ld="opt",data-name="default") 使用這個選項
        .col-md: .p-3.h-100.rounded
          h5 使用 Git Repo
          .text-muted.mb-2 由您提供網站原始碼，我們則透過 Git Clone 的方式為您執行網站部署。
          .btn.d-block.btn-outline-secondary(ld="opt",data-name="git") 使用這個選項
        .col-md: .ml-4.h-100.py-3.pl-3.rounded
          h5 使用線上編輯器
          .text-muted.mb-2 讓您可以直接透過我們提供的線上編輯器編寫網頁內容與樣式。
          .btn.d-block.btn-light.disabled(data-name="editor") 尚未開放
      .my-4: hr
      .py-4
        h4 不自行客製頁面
        p 您的頁面將由 Grant Dash 自動生成。我們會使用組織或活動的基本資訊 ( 名稱、簡介、縮圖等 ) 產生基本的入口頁面，並提供適當的提案列表供訪客瀏覽。
      .py-4.d-none
        h4 使用 Git Repo
        p 我們需要以下的額外資訊才能為您設定 Git Repo 部署網站。請注意，Git Repo 部署方式僅提供靜態網頁的部署，並不會執行任何額外的程式碼。
        hr
        .form-group
          label Git URL
          input.form-control.border.rounded(ld="git-url",placeholder="例如, https://github.com/someone/somerepo")
        .row
          .col-md
            .form-group
              label Git Branch
              input.form-control.rounded.border(ld="git-branch",placeholder="例如, gh-pages")
          .col-md
            label &nbsp;
            .btn.btn-primary.d-block(ld="deploy") 請求網站更新



    +script("/assets/lib/suuid/suuid.bundle.min.js")
    +script("/js/util/user.js")
    script: :lsc
      ldc.register <[userSearch]>, ({userSearch}) ->
        us = new userSearch root: '[ld-scope=users]', delay: 500
        us.init!
