doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldui/ldui.min.js")
  body
    #root.w-1024.rwd.mx-auto.h-75.my-4.d-flex.flex-column.border.rounded: .d-none
      .rounded.p-4.border.shadow.bg-white
        .p-2 HEAD
        .menu.bg-light.p-2.border(style="height:0;overflow:hidden")
          each i in [1,2,3,4,5]
            .p-2.m-2.border.shadow.rounded ITEM
    script: :lsc
      menu = ld$.find('.menu',0)
      console.log(menu.scrollHeight)
      console.log(menu.scrollHeight)
