doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    +script("/js/util/sdb-adapter.js")
    +script("/js/util/hub.js")
    +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
    style(type="text/css"): :stylus
      .folder-toggle { display: none }
  body
    +nbr(2)
    .w-480.mx-auto.rwd
      +scope("users")
        .p-4.rounded.border.shadow-sm
          .position-relative
            input.form-control(ld="input",style="border-radius:.25em;border:1px solid #ddd",
            placeholder="type user name ... ")
            .d-none(ld="picked"): .position-absolute.w-100.h-100(style="top:0;left:0")
              .d-flex.align-items-center.p-2.bg-white.form-control.bg-light
                .bg-dark.rounded.mr-1(ld="picked-avatar",style="width:1em;height:1em")
                .flex-grow-1(ld="picked-name")
                i.i-close.text-danger.clickable(ld="clear")
            .d-none.ld.ld-fade-in(ld="loading")
              .position-absolute.m-auto.ld.ld-spin.ld-spinner(style="top:0;bottom:0;right:.5em")
            .p-3.rounded.border.shadow-sm.d-none.ld.ld-float-ttb-in.bg-white.xp15.position-absolute.w-100(
            ld="users",style="border-radius: 0 0 .5em .5em")
              .d-flex.align-items-center.clickable(ld-each="user")
                .bg-light.rounded.mr-1(ld="avatar",style="width:1em;height:1em")
                div(ld="name")


    +script("/assets/lib/suuid/suuid.bundle.min.js")
    +script("/js/util/user.js")
    script: :lsc
      ldc.register <[userSearch]>, ({userSearch}) ->
        us = new userSearch root: '[ld-scope=users]', delay: 500
        us.init!
