doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    +script("/js/util/sdb-adapter.js")
    +script("/js/util/hub.js")
    +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
    style(type="text/css"): :stylus
      .folder-toggle { display: none }
  body
    +nbr(2)
    .w-480.mx-auto.rwd
      .bg-light.p-4
        each i in [1,2,3]
          .py-1.px-2.mb-2.bg-white.d-flex.align-items-center.rounded
            .name.flex-grow-1 balloon-1.1s-128px.gif
            .size.rounded.px-2.text-sm.ml-2.text-muted.bg-light image/gif
            .size.rounded.px-2.text-sm.ml-2.text-muted.bg-light 0.1MB

    +script("/assets/lib/suuid/suuid.bundle.min.js")
    script: :lsc
      console.log(suuid!)

