doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    +script("/js/util/sdb-adapter.js")
    +script("/js/util/hub.js")
    +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
    style(type="text/css"): :stylus
      .folder-toggle { display: none }
  body
    script: :lsc
      ldc.register <[auth]>, ({auth}) ->
        console.log 'get...'
        auth.get!then ->
          console.log 'fetch ...'
          ld$.fetch '/d/b/4/detail', {method: \PUT}, {json: {a: 2}, type: \json}
            .then -> console.log \ok
