doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldui/ldui.min.js")
  body
    #root.w-1024.rwd.mx-auto.h-75.my-4.d-flex.flex-column.border.rounded(contenteditable="true")
      | 123
      a(href="#") hello
      | 123
      div hi
    .a
      .b
        .c
    script: :lsc
      a = ld$.find \.a, 0
      console.log(
        ld$.find(a, '.a .b')
      )
      root.addEventListener \input, (e) ->
        console.log e.target
