doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    style(type="text/css"): :stylus
      .folder-toggle { display: none }
  body
    #root.w-1024.rwd.mx-auto.h-75.my-4.d-flex.flex-column.border.rounded
      .p-4.d-flex
        ul.nav.nav-tabs(hostable)
          li.nav-item(ld-each="item",draggable="true"): a.nav-link
        ul.nav.nav-tabs.flex-grow-1.text-right
          li.nav-item.flex-grow-1: a.nav-link hi
          li.nav-item: a.nav-link hi
          li.nav-item: a.nav-link hi
          li.nav-item: a.nav-link hi
          li.nav-item: a.nav-link hi
      .mt-4.btn.btn-outline-dark(ld="show") Show

    script: :lsc
      data = <[item1 item2 item3 item4 item5]>
      view = new ldView do
        root: '#root'
        action: click: do
          show: -> console.log JSON.stringify(data)
        handler: do
          item: do
            list: -> data
            handler: ({node,data}) -> ld$.find(node,'a.nav-link',0).innerText = data

              
      bmgr = get: -> new Promise (res, rej) -> res ""
      reb = new reblock root: '#root', block-manager: bmgr, action: do
        beforeMoveNode: ({src, des, ib}) ->
          console.log 123, src._data
          data.splice data.indexOf(src._data), 1
        afterMoveNode: ({src, des, ib}) ->
          console.log 456, des._data
          data.splice data.indexOf(des._data), 0, src._data
