doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head

    +scope("code-mirror")

      +css("/assets/lib/codemirror/5.49.2/lib/codemirror.min.css")
      +css("/assets/lib/codemirror/5.49.2/theme/ambiance.css")
      +css("/assets/lib/codemirror/5.49.2/theme/ayu-mirage.css")
      +css("/assets/lib/codemirror/5.49.2/theme/neat.css")
      +css("/assets/lib/codemirror/5.49.2/theme/duotone-light.css")
      +css("/assets/lib/codemirror/5.49.2/theme/nord.css")
      +css("/assets/lib/codemirror/5.49.2/theme/cobalt.css")

      //- required
      +script("/assets/lib/codemirror/5.49.2/lib/codemirror.min.js")

      //- syntax highlight
      +script("/assets/lib/codemirror/5.49.2/mode/javascript/javascript.js")
      +script("/assets/lib/codemirror/5.49.2/mode/css/css.js")
      +script("/assets/lib/codemirror/5.49.2/mode/xml/xml.js")
      +script("/assets/lib/codemirror/5.49.2/mode/htmlmixed/htmlmixed.js")
      +script("/assets/lib/codemirror/5.49.2/mode/livescript/livescript.js")
      +script("/assets/lib/codemirror/5.49.2/mode/stylus/stylus.js")
      +script("/assets/lib/codemirror/5.49.2/mode/pug/pug.js")
      +script("/assets/lib/codemirror/5.49.2/mode/markdown/markdown.js")

      //- search + vim mode
      +script("/assets/lib/codemirror/5.49.2/addon/dialog/dialog.js")
      +script("/assets/lib/codemirror/5.49.2/addon/search/searchcursor.js")
      +script("/assets/lib/codemirror/5.49.2/keymap/vim.js")

    +script("/assets/lib/sandbox.js/sandbox.min.js")

    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/assets/lib/ldui/ext/folder.min.css")
    +css("/css/index.css")
    +script("/assets/lib/ldc/ldc.min.js")
    +script("/assets/lib/sharedb-wrapper/client.bundle.min.js")
    +script("/js/util/sdb-adapter.js")
    +script("/js/util/hub.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldui/ext/folder.min.js")
    +script("/js/reblock/form-reblock.js")
    style(type="text/css"): :stylus
      .folder-item [ld~=passive]
        visibility: hidden
        pointer-event: none
      .folder-item:hover [ld~=passive]
        visibility: visible
        pointer-event: none
      .CodeMirror
        width: 100%
        height: 100%
        font-size: 20px

  body
    .w-100.h-100.d-flex
      +scope("folder").h-100.bg-secondary.text-white.treeview
        .d-none
          +scope("sample-item")
            .folder-item.d-flex.align-items-center
              .flex-grow-1.single-line(ld="name")
              i.i-clone.mr-2(ld="clone passive")
              i.i-close(ld="delete passive")
          +scope("sample-folder"): .folder.show(draggable="true")
            .folder-item.folder-toggle.d-flex.align-items-center
              .flex-grow-1.single-line(ld="name")
              i.i-plus(ld="add")
            .folder-menu
              div(ld-each="list")
        .h-100(hostable,style="min-width:310px"): div(ld-each="list",draggable="true")
      +scope("editor").flex-grow-1.d-flex
        +scope("edit").flex-grow-1.w-50.position-relative.m-0
        +scope("view").flex-grow-1.w-50.m-0
    +script("/js/tree.js")

