//- module
+scope("brd-export")
  style(type="text/css"): :stylus
    [ld-scope=brd-export] .form-group
      margin-bottom: 0
      .form-control
        border-radius: 4px
        border-width: 1px
      label
        margin-bottom: 0
        font-size: .9em
  h2 匯出資料
  hr
  .row
    .col.mb-4
      .form-group
        label &nbsp;
        .config-switch.d-flex.align-items-center(style="line-height:1.2em")
          .flex-grow-1
            label.mb-0 啟用匯出
            .text-sm.text-muted 開啟後即會透過 API 向外部提供資料
          .ml-2: .switch.switch-lg(ld="switch",data-name="enabled")
    .col.mb-4
      .form-group
        label 計劃年度 (請用民國年)
        input.form-control(ld="field",data-name="year")

  .row
    .col.mb-4
      .form-group
        label 計劃承辦人
        input.form-control(ld="field",data-name="pic")
    .col.mb-4
      .form-group
        label 承辦人電話
        input.form-control(ld="field",data-name="phone")
    .col.mb-4
      .form-group
        label 承辦人email
        input.form-control(ld="field",data-name="email")
  hr
  .d-flex.justify-content-between.align-items-center.mb-1.bg-light.py-2.px-3(ld-each="prj")
    .flex-grow-1
      div(ld="name")
      div(ld="team")
    .mx-2(style="flex:0 0 auto")
      .form-group
        label 核定金額
        input.form-control(ld="amount")
    div(style="flex:0 0 auto")
      .form-group
        label 狀態
        .input-group
          input.form-control(ld="state")
          .input-group-append
            .btn.btn-outline-secondary.dropdown-toggle(ld="dropdown",data-toggle="dropdown")
            .dropdown-menu.dropdown-menu-right.shadow-sm
              .dropdown-item(ld="set-state",data-name="委員審查中") 委員審查中
              .dropdown-item(ld="set-state",data-name="已核定") 已核定
              .dropdown-item(ld="set-state",data-name="已結案核銷") 已結案核銷
              .dropdown-item(ld="set-state",data-name="已撤銷") 已撤銷
              .dropdown-item(ld="set-state",data-name="") (清空欄位)
  +nbr(5)
