//- module
h4 階段設定
.text-muted.mb-4 活動設定讓您針對不同時間設定不同的活動狀態。例如，您可以設定在活動發表的 60 天後才開放提案，同時設定 90 天後進入評審階段。
+scope("brd-stage")
  .d-flex(ld="stages")
    ul.nav.nav-tabs.mb-4(hostable)
      li.nav-item(ld-each="stage",draggable="true"): a.nav-link 預設
    ul.nav.nav-tabs.mb-4.flex-grow-1
      li.nav-item.flex-grow-1
      li.nav-item.text-right: a.nav-link.text-muted.border-0(data-type="new-stage") 新增 +
  .alert.alert-light.border(ld="default-view") 在提案期間一般用戶可自由建立提案並修改提案。提案審查員會視情況檢視提案，並提醒提案者在提案期結束前做提案內容的調整與補充。
  .d-none.mb-4(ld="custom-view")
    .form-group.mb-0.position-relative
      label 階段名稱
      input.form-control.rounded.border(ld="stage-name")
      .invalid-feedback.position-absolute 不能用這個名稱

  div(ld="custom-view"): .row.mt-2.mb-3.pb-1
    .col-md
      label 起始時段
      .d-flex
        .input-group
          input.form-control(ld="time",type="text",
          data-name="start",value="2020-05-01",placeholder="YYYY-MM-DD hh:mm:ss")
    .col-md
      label 結束時段
      .d-flex
        .input-group
          input.form-control(ld="time",type="text",
          data-name="end",value="2020-05-31",placeholder="YYYY-MM-DD hh:mm:ss")

  br
  h5 提案相關
  hr
  .admin-config.mb-4.pb-4
    +config-switch-lg({name: "活動公開", desc: "一般人都可以看到這個活動", key: "public"})
    +config-switch-lg({name: "編輯提案", desc: "提案者可以修改自己的提案", key: "prj-edit"})
    +config-switch-lg({name: "提案列表", desc: "開放瀏覽提案列表", key: "prj-list-view"})
    +config-switch-lg({name: "建立提案", desc: "註冊用戶可以自由提案", key: "prj-new"})
    +config-switch-lg({name: "瀏覽提案", desc: "提案公開可見", key: "prj-view"})
    +config-switch-lg({name: "發布提案", desc: "提案人可進行初次送件", key: "prj-publish"})
    .config-switch.mb-2.pt-2
  h5 評論相關
  hr
  .admin-config.mb-4.pb-4
    +config-switch-lg({name: "建立評論", desc: "註冊用戶可以針對不同提案進行評論", key: "comment-new"})
    +config-switch-lg({name: "瀏覽評論", desc: "開放瀏覽留言", key: "comment-view"})
    +config-switch-lg({name: "編輯評論", desc: "留言者可以修改自己的留言", key: "comment-edit"})
    +config-switch-lg({name: "刪除評論", desc: "留言者可以刪除自己的留言", key: "comment-delete"})
    .config-switch.mb-2.pt-2
  h5 評選相關
  hr
  .admin-config.mb-4.pb-4
    +config-switch-lg({name: "資格審查", desc: "評審用戶可以進行線上資格審查作業", key: "judge-criteria"})
    +config-switch-lg({name: "篩選作業", desc: "評審用戶可以進行線上篩選作業", key: "judge-primary"})
    +config-switch-lg({name: "評分作業", desc: "評審用戶可以進行線上評分作業", key: "judge-final"})
    .config-switch.mb-2.pt-2

  hr
  .d-flex.mt-4
    .flex-grow-1: .btn.btn-outline-danger(ld="delete-stage custom-view") 刪除
