//- module
mixin user
  .d-inline-block(style="width:2em")&attributes(attributes): .aspect-ratio.ratio-1by1.bg-dark.rounded-circle
mixin user-sm
  .d-inline-block(style="width:1.25em")&attributes(attributes): .aspect-ratio.ratio-1by1.bg-dark.rounded-circle
