//- module
extends /base.pug
block vars
  - ctrl.foot.edgeMask = false;
  - ctrl.navtop.className = "navbar-light"
  - ctrl.navtop.placeholder = false;
  block vars
block body
  .w-100.h-100.text-center.vertical-center(
  style="background:center center;background-size:cover")
    .w-100: block content
block script
  +script("/dash/assets/felib/i18next/main/dist/umd/i18next.min.js")
  +script("/dash/assets/felib/i18next-browser-languagedetector/main/dist/umd/i18nextBrowserLanguageDetector.min.js")
  +script("/dash/js/i18n-data.js")
  +script("/dash/js/i18n.js")
  block script
  +script("/dash/js/auth/password.js")
