extends base.pug
block vars
 - ctrl.cover.authpanel = false;
 - ctrl.navtop.placeholder = false;
 - ctrl.navtop.shown = false;
block content
  include /modules/widget/authpanel.pug
  .text-left: +authpanel
block script
  +script("/js/auth/index.js")
