extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
  - ctrl.navtop.shown = true;
  - ctrl.navtop.className = "navbar-light"
  // include /design/data/sample.pug
block head
  +css("https://cdn.jsdelivr.net/npm/tail.datetime@0.4.13/css/tail.datetime-harx-light.min.css")
block body
  //- landing page with specific domain but no org is found.
  .w-100.h-100
    .w-640.mx-auto.h-100: .vertical-center: .w-100.text-center.pb-4
      h2 歡迎使用 Grant Dash
      p.text-muted 您尚未建立任何組織，現在就來建立一個嗎？
      .my-4: .btn.btn-outline-primary 立刻建立
      +nbr(3)
