@import 'navbar.styl'

.admin-menu
  width: 200px
  overflow-y: scroll
  overflow-x: hidden
  flex: 0 0 auto
  &::-webkit-scrollbar
    background-color: #fff!important
  [ld=brd-list-toggle]
    transition: all .35s ease-in-out
  [ld=brd-list-toggle].on
    transform: rotate(180deg)


