@import 'navbar.styl'
@import 'track.styl'

.admin-menu
  width: 240px
  overflow-y: scroll
  overflow-x: hidden
  flex: 0 0 auto
  &::-webkit-scrollbar
    background-color: #fff!important
  [ld=brd-list-toggle]
    transition: all .35s ease-in-out
  [ld=brd-list-toggle].on
    transform: rotate(180deg)


.admin-config
  display: flex
  flex-wrap: wrap
  .config-switch
    width: 40%
    flex: 1 1 auto
  .config-switch:nth-child(2n+1)
    margin-right: 2em
@media (max-width: 960px)
  .admin-config
    .config-switch
      width: 90%
      margin-right: 0!important

