[ld-scope=navbar-editor]
  .folder-item
    display: flex
    align-items: center
  .folder-item .inner
    flex: 1
    display: inline-block
    border: 1px solid #ddd
    border-radius: .25em
    box-shadow: 0 1px 1px rgba(0,0,0,.1)
    padding: .5em
  .folder > .folder-item .url { display: none }
