//- module
.ldcv.ldcvmgr(data-name="judge-criteria-missing",data-lock="true")
  .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
    h1 尚未設定審核資格
    br
    p.text-left 因為您的活動尚未設定審核資格，目前自然無法進行資格審核。請您先至：
    p.text-center.bg-light.py-4 主控台 → 分組 → 設定 → 審查資格
    p.text-left 進行設定。
    br
    .text-center
      .btn.btn-primary.btn-block.btn-lg.mr-2(onclick="lda.general.admin()") 進入主控台
.ldcv.ldcvmgr(data-name="judge-grade-missing",data-lock="true")
  .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
    h1 尚未設定評分標準
    br
    p.text-left 因為您的活動尚未設定評分標準，目前自然無法進行資評分標。請您先至：
    p.text-center.bg-light.py-4 主控台 → 分組 → 設定 → 評分標準
    p.text-left 進行設定。
    br
    .text-center
      .btn.btn-primary.btn-block.btn-lg.mr-2(onclick="lda.general.admin()") 進入主控台
+scope("judge-preview-attachment").ldcv.ldcvmgr.full.p-4(data-name="judge-preview-attachment")
  .base.rwd: .inner.card: .card-body: .w-100.h-100.p-1(ld="container")
    .closebtn.lg.bg-white
    iframe.border-0.w-100.h-100(ld="iframe")
    object.w-100.h-100(ld="object"): embed(ld="embed")
