extends /base.pug
block vars
  - ctrl.navtop.shown = true
  - ctrl.navtop.placeholder = false
  - ctrl.navtop.className = "bg-none"
  - ctrl.foot.shown = false
  - isall = false
block head
block navtop-item
  ul.navbar-nav.mr-auto
    li.nav-item: a.nav-link(href="#") #[i.i-radio.text-success] 資格審查總表
block body
  include cover.pug
  .h-100.w-100.d-flex.flex-column
    div(style="padding-top:60px")
    .flex-grow-1.d-flex.w-100(style="overflow:hidden;margin-top:-.5em")
      .d-flex.flex-column(style="flex:1 1 55%")

        .judge-table.flex-grow-1.bg-white.border-top.border-bottom.mt-3.w-100(style="overflow:scroll")

          .sticky.z-float(style="top:0")
            .p-2.bg-white.d-flex.text-muted.text-sm.justify-content-end
              .flex-grow-1.d-flex
                .mx-3 總計 #[span.text-danger(ld="count",data-name="total") 0]
                .mx-3 通過 #[span.text-danger(ld="count",data-name="accept") 0]
                .mx-3 待審 #[span.text-danger(ld="count",data-name="pending") 0]
                .mx-3 退件 #[span.text-danger(ld="count",data-name="reject") 0]
            table.table.w-100.bg-light.border-bottom.mb-0.shadow-sm.text-center
              tr
                td.clickable(ld="sort",data-name="state",style="width:5em") 結果
                //-td.clickable(ld="sort",data-name="comment",style="width:2em") 註
                //-td.text-right(style="width:4em") 編號
                td.text-left
                  .d-flex.align-items-end
                    .clickable.flex-grow-1(ld="sort",data-name="name") 提案名稱
                    //-.text-primary.clickable(ld="criteria") #[i.i-question] 審核條件
                td.clickable(ld="sort",data-name="count",data-value="accept",style="width:4em") 通過
                //-td.clickable(ld="sort",data-name="count",data-value="pending",style="width:4em") 待審
                td.clickable(ld="sort",data-name="count",data-value="reject",style="width:4em") 不符
                td(ld="sort",data-name="comments",style="width:4em") 細節

          table.table.w-100.mb-0.text-center
            tr.d-none(ld-each="project")
              td.text-nowrap(style="width:5em"): .text-sm
                .bg-light.rounded(style="padding:.2em .5em",ld="state") #[span.mr-1]#[i]
              //-td(style="width:2em"): i.i-doc.text-primary.invisible(ld="has-comment comment")
              //-td(style="width:4em").text-right: span(ld="key")
              td.text-left: span.text-underline.clickable(ld="name")
              td(ld="count",data-name="accept",style="width:4em;line-height:1em")
              //-td(ld="count",data-name="pending",style="width:4em;line-height:1em")
              td.clickable(ld="count",data-name="reject",style="width:4em;line-height:1em")
              td.clickable(ld="detail",style="width:4em"): i.i-doc.text-primary


        .px-4.py-2.w-100
          .d-flex.align-items-center
            //-.mr-4
              .text-muted.text-sm 距資格審查截止還有
              .text-danger 2 天 15 小時 20 分
            .mr-4.text-sm
              .text-muted 資格審查進度
              .d-flex.align-items-center.my-1(style="line-height:1rem")
                .bg-success.d-inline-block.mr-1.rounded(style="width:1em;height:1em")
                span.mr-2 通過
                .bg-danger.d-inline-block.mr-1.rounded(style="width:1em;height:1em")
                span 不符
            .mr-4.flex-grow-1
              .text-muted.text-sm 完成度 / #[span.text-danger(ld="progress progress-percent") 0]%
              .progress.my-1(style="width:100%")
                .progress-bar.bg-success.progress-bar-striped.progress-bar-animated(
                ld="progress progress-bar",data-name="accept")
                .progress-bar.bg-danger.progress-bar-striped.progress-bar-animated(
                ld="progress progress-bar",data-name="reject")
            //-div: .btn.btn-outline-dark 提交審查結果




      div(style="flex:1 1 45%")
        .card.border.shadow.w-100.h-100(style="overflow:hidden;border-radius: .5em 0 0 .5em")
          .card-body.p-0.position-relative
            iframe.border-0.w-100.h-100(ld="iframe")
            .w-100.h-100.vertical-center.position-absolute.z-float.bg-light(
            ld="iframe-placeholder",style="top:0;left:0")
              .w-100.text-center.text-muted
                .text-lg 提案瀏覽區
                div 您可以點擊左方的提案名稱以在此瀏覽該提案內容
            //-object.w-100.h-100(data="/assets/sample/simple-pdf.pdf",type="application/pdf")
              embed(src="/assets/sample/simple-pdf.pdf",type="application/pdf")




  div

    .ldcv.scroll(ld="detail-ldcv"): .base.w-640: .inner.card.shadow-sm
      .card-header.shadow-sm.position-relative.z-float
        p.mb-0 資格審核附註
        h4.mb-0(ld="comment-name")
      .card-body
        .pb-4.mb-4.border-light(ld-each="detail")
          .d-flex.align-items-stretch.mb-2
            .flex-grow-1.mr-2.d-flex.align-items-center: .text-center.w-100
              .mx-auto(style="width:3em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-dark.bg-cover(ld="avatar")
              div(ld="name")
            .text-left.py-2.px-1.rounded.mx-1.d-flex.flex-column(ld-each="criteria",style="width:6em")
              .flex-grow-1.d-flex.flex-column.justify-content-center.text-center(ld="name")
              .text-lg.text-center(ld="value"): i
          .bg-light.p-4(ld="comment")

      .card-footer
        .d-flex.justify-content-between
          .btn.btn-primary(data-ldcv-set="") 關閉

block script
  +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
  +script("/dash/assets/lib/sharedb-wrapper/client.bundle.min.js")
  +script("/dash/js/judge/base.js")
  +script("/dash/js/judge/criteria-all.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  script: :lsc
    ldc.register <[judgeCriteriaAll]>, ->
