extends /base.pug
block vars
  - ctrl.navtop.shown = false
  - ctrl.navtop.placeholder = false
  - ctrl.foot.shown = false
block head
  +css("/dash/assets/lib/handsontable/handsontable.min.css")
  style(type="text/css"): :stylus
    tr td:nth-child(4)
      border-right: 2px solid #000
    .ht_clone_top tr:nth-child(2) td, .ht_clone_top_left_corner tr:nth-child(2) td
      border-bottom: 2px solid #000

block body
  include cover.pug
  .judge.h-100.w-100
    .d-flex.flex-column.h-100.w-100

      .p-2.d-flex
        .flex-grow-1.p-2
          span.mr-4 沉浸式內容國際合資合製補助計畫
          span #[i.i-radio.text-success] 決審總表
        div
          .p-2 Kirby #[i.i-dart-down]

      .d-flex.flex-grow-1.w-100.h-100
        .position-relative.border.bg-dark.h-100(style="flex:3 0 auto")
          #edit.w-100.h-100.position-absolute(style="overflow:hidden")

block script
  +script("/dash/assets/lib/handsontable/handsontable.min.js")
  +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
  +script("/dash/assets/lib/sharedb-wrapper/client.bundle.min.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  +script("/dash/js/judge/base.js")
  +script("/dash/js/judge/final-all.js")
  script: :lsc
    ldc.app \judgeFinalAll
