extends /base.pug
block vars
  - ctrl.navtop.shown = true
  - ctrl.navtop.placeholder = false
  - ctrl.navtop.className="bg-none"
  - ctrl.foot.shown = false
block head
  style(type="text/css"): :stylus
    .judge-table { font-size: 15px }
    .judge-table input
      width: 100%
      height: 100%; 
      display: block
      border: none
      background: none
      padding: 2px
      font-weight: 300
      text-align: center
    .judge-table .score-row
      border-bottom: 1px solid #ccc
      &:hover
        outline: 2px solid #0ff
      & > div
        &:not(:last-of-type)
          border-right: 1px solid #ccc
block navtop-item
  ul.navbar-nav.mr-auto
    li.nav-item: a.nav-link(href="#") #[i.i-radio.text-success] 評分總表
block body
  include cover.pug
  .h-100.w-100.d-flex.flex-column
    div(style="padding-top:60px")
    .flex-grow-1.d-flex.w-100(style="overflow:hidden;margin-top:-.5em")
      .d-flex.flex-column(style="flex:1 1 55%")

        .judge-table.flex-grow-1.bg-white.border-top.border-bottom.mt-3.w-100(style="overflow-y:scroll")

          .sticky(style="top:0")

            .p-2.bg-white.d-flex.text-muted.text-sm.justify-content-end.align-items-center
              .btn.btn-sm.btn-outline-primary.py-0(ld="download-csv") 下載 CSV
              .flex-grow-1.d-flex
              .d-flex.align-items-center(ld="toggle-heatmap")
                .mr-1 熱度視覺化
                .switch

            .d-flex.py-2.bg-light.border-bottom.shadow-sm.text-center
              .clickable(ld="sort",data-name="criteria-result",style="width:5em") 審核結果
              div(style="width:4em") 評註
              .clickable.flex-grow-1(ld="sort",data-name="name") 提案名稱
              div(ld-each="judge",style="width:8em")
                div(ld="name")
                .d-flex.text-sm.justify-content-center.clickable
                  div(data-name="score",style="width:4em") 分數
                  div(data-name="rank",style="width:4em") 排名
              .clickable(ld="sort",data-name="total",style="width:4em") 平均分
              .clickable(ld="sort",data-name="rank",style="width:4em") 總排名
              div(style="width:5em")

          .d-flex.text-center.score-row.d-none(ld-each="project")
            .clickable.px-1(ld="detail",style="width:5em"): .vertical-center: .w-100.btn.btn-outline-secondary.btn-sm
              span.text-success(ld="criteria",data-name="0")
              span.mx-1 /
              span.text-danger(ld="criteria",data-name="2")
            .clickable(ld="judge-comment",style="width:4em"): .vertical-center: .w-100: i.i-pen
            .text-left.p-2(style="flex:1 0 0")
              a.text-dark.text-underline(ld="name",target="_blank",rel="noopener noreferrer")
            .d-flex(ld-each="judge",style="width:8em")
              div(style="width:4em;border-left:1px solid #444")
                .px-2.d-flex.align-items-center.h-100.justify-content-end(ld="score")
              div(style="width:4em;border-left:1px solid #ddd")
                .px-2.d-flex.align-items-center.h-100.justify-content-end(ld="rank")
            div(style="width:4em;border-left:3px solid #000")
              .px-2.d-flex.align-items-center.h-100.justify-content-end(ld="total")
            div(style="width:4em")
              .px-2.d-flex.align-items-center.h-100.justify-content-end(ld="rank")
            div(style="width:5em")

  div

    .ldcv(ld="comment-ldcv"): .base.w-480: .inner.card.shadow-sm
      .card-header.shadow-sm.position-relative.z-float
        p.mb-0 決選附註
        h4.mb-0(ld="comment-name")
      textarea.form-control.border-0.rounded-0(ld="comment",
      rows="5",placeholder="在這裡輸入您的附註 ... ")
      .card-footer.text-right: .btn.btn-primary(data-ldcv-set="") 完成

    .ldcv.scroll(ld="detail-ldcv"): .base.w-640: .inner.card.shadow-sm
      .card-header.shadow-sm.position-relative.z-float
        p.mb-0 資格審核附註
        h4.mb-0(ld="detail-name")
      .card-body
        .pb-4.mb-4.border-light(ld-each="detail")
          .d-flex.align-items-stretch.mb-2
            .flex-grow-1.mr-2.d-flex.align-items-center: .text-center.w-100
              .mx-auto(style="width:3em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-dark.bg-cover(ld="avatar")
              div(ld="name")
            .text-left.py-2.px-1.rounded.mx-1.d-flex.flex-column(ld-each="criteria",style="width:6em")
              .flex-grow-1.d-flex.flex-column.justify-content-center.text-center(ld="name")
              .text-lg.text-center(ld="value"): i
          .bg-light.p-4(ld="comment")
      .card-footer
        .d-flex.justify-content-between
          .btn.btn-primary(data-ldcv-set="") 關閉


    .ldcv.scroll(ld="judge-comment-ldcv"): .base.w-640: .inner.card.shadow-sm
      .card-header.shadow-sm.position-relative.z-float
        p.mb-0 評選附註
        h4.mb-0(ld="detail-name")
      .card-body
        .pb-4.mb-4.border-light(ld-each="judge-comment")
          div(ld="name")
          .bg-light.p-4(ld="comment")
      .card-footer
        .btn.btn-primary(data-ldcv-set="") 關閉

block script
  +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
  +script("/dash/assets/lib/sharedb-wrapper/client.bundle.min.js")
  +script("/dash/js/judge/base.js")
  +script("/dash/js/judge/criteria-user.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  +script("/dash/js/judge/final-all.js")
  script: :lsc
    ldc.register <[judgeFinalAll]>, ->
