extends /base.pug
block vars
  - ctrl.navtop.shown = false
  - ctrl.navtop.placeholder = false
  - ctrl.foot.shown = false
block head
  +css("/dash/assets/lib/handsontable/handsontable.min.css")

block body
  .judge.h-100.w-100
    .d-flex.flex-column.h-100.w-100

      .p-2.d-flex
        .flex-grow-1.p-2
          span.mr-4 沉浸式內容國際合資合製補助計畫
          span #[i.i-radio.text-success] 決審總表
        div
          .p-2 Kirby #[i.i-dart-down]

      .d-flex.flex-grow-1.w-100.h-100
        .position-relative.border.bg-dark.h-100(style="flex:3 0 auto")
          #example.w-100.h-100.position-absolute(style="overflow:hidden")

block script

  +script("/dash/assets/lib/handsontable/handsontable.min.js")
  +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
  +script("/dash/assets/lib/sharedb-wrapper/client.bundle.min.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  +script("/dash/js/judge/final-user.js")

  script: :lsc
    data = [
       ['', '', '', '評審', '評審A', '', '評審B', '', '評審C', '', '平均', '孔多塞', '決選', '優勝', '討論'],
       ['標註', '編號', '評論', '提案', '分數', '排名',  '分數', '排名', '分數', '排名', '排名', '排名', '註記', '註記', '註記']

       ['',1,0,"開放 SaaS 平台",92,3,76,16,86,10,10,4],
       ['',2,0,"線上資料庫",69,20,82,8,85,12,13,5],
       ['',3,0,"選舉指南",98,2,91,3,96,4,3,6],
       ['',4,0,"點對點分散式網路",73,15,64,24,78,15,18,20],
       ['',5,1,"剩食大平台",73,15,66,22,86,10,16,19],
       ['',6,0,"求職小幫手",90,5,79,12,72,20,12,22],
       ['',7,0,"美國台灣觀測協會",90,5,62,26,93,6,12,4],
       ['',8,1,"國會監視器",72,17,87,7,74,19,14,1],
       ['',9,1,"協作資料夾 2.0",91,4,70,21,90,8,11,18],
       ['',10,0,"線上課程平台",75,14,73,17,72,20,17,28],
       ['',11,0,"協作式筆記系統",66,23,73,17,66,26,22,22],
       ['',12,0,"剩食資料庫系統",81,11,63,25,67,24,20,8],
       ['',13,0,"社區食倉",71,18,66,22,85,12,17,8],
       ['',14,0,"文字工作者大平台",66,23,96,1,67,24,16,12],
       ['',15,0,"自動逐字稿輔助編寫平台",67,22,77,14,77,17,18,7],
       ['',16,2,"司法透視鏡 - 一起監督司法",65,25,80,11,91,7,14,3],
       ['',17,0,"台灣ㄟ姻仔",76,13,89,6,71,22,14,21],
       ['',18,0,"農業微型監視儀",85,10,61,27,75,18,18,23],
       ['',19,0,"台灣在地化分散式字點",88,7,81,9,100,1,6,27],
       ['',20,0,"xota.co 71",18,91,3,100,1,7,1,10],
       ['',21,0,"從 AM2.5 到 PM2.5",87,8,77,14,64,27,16,6],
       ['',22,3,"新聞儀表板",61,27,78,13,78,15,18,16],
       ['',23,3,"山林間測快手",80,12,72,20,94,5,12,27],
       ['',24,0,"台灣在地化地圖計畫",86,9,81,9,90,8,9,16],
       ['',25,0,"資訊透明度量表",69,20,90,5,85,12,12,24],
       ['',26,1,"智慧漸凍人補助器",64,26,94,2,70,23,17,20],
       ['',27,0,"離職書產生器",99,1,73,17,99,3,7,19],


    ];
    dom = ld$.find document, '#example', 0
    Handsontable.renderers.registerRenderer \myrenderer, (instance, td, row, col, prop, value, cellProperties) -> 
      Handsontable.renderers.TextRenderer.apply @, arguments
      if isNaN(value) or !value => return
      if col > 3 and ((col % 2) or col == 10 or col == 11) =>
        if +value < 3 => td.style.background = \#9f9
        if +value > 25 => td.style.background = \#f99
      if col == 2 =>
        if value > 0 => td.style.background = \#ff0

    hot = new Handsontable dom, {
      data: data
      rowHeaders: true
      colHeaders: true
      filters: true
      dropdownMenu: true
      stretchH: \all
      rowHeights: 25
      minRows: 50
      minCols: 15
      colWidths: [30,50,30,150,40,40,40,40,40,40,40,40,40,40],
      fixedRowsTop: 2,
      fixedColumnsLeft: 2,
      cells: (row, col) ->
        cellProperties = {}
        cellProperties.renderer = \myrenderer
        return cellProperties
      customBorders: [

        {
          range: { from : {row: 1, col: 3}, to: {row: 1, col: 3}},
          bottom: {width: 2, color: \#000}, right: {width: 2, color: \#000}
        }

        {
          range: { from : {row: 1, col: 5}, to: {row: 1, col: 5}},
          bottom: {width: 2, color: \#000}, right: {width: 1, color: \#777}
        }

        {
          range: { from : {row: 1, col: 7}, to: {row: 1, col: 7}},
          bottom: {width: 2, color: \#000}, right: {width: 1, color: \#777}
        }

        {
          range: { from : {row: 1, col: 9}, to: {row: 1, col: 9}},
          bottom: {width: 2, color: \#000}, right: {width: 1, color: \#777}
        }

        {
          range: { from : {row: 1, col: 11}, to: {row: 1, col: 11}},
          bottom: {width: 2, color: \#000}, right: {width: 1, color: \#777}
        }

        { range: { from : {row: 1, col: 0}, to: {row: 1, col: 50}}, bottom: {width: 2, color: \#000}}

        { range: { from : {row: 0, col: 3}, to: {row: 50, col: 3}}, right: {width: 2, color: \#000}}

        { range: { from : {row: 0, col: 5}, to: {row: 50, col: 5}}, right: {width: 1, color: \#777}}
        { range: { from : {row: 0, col: 7}, to: {row: 50, col: 7}}, right: {width: 1, color: \#777}}
        { range: { from : {row: 0, col: 9}, to: {row: 50, col: 9}}, right: {width: 1, color: \#777}}
        { range: { from : {row: 0, col: 11}, to: {row: 50, col: 11}}, right: {width: 1, color: \#777}}
      ]
    }

