extends /base.pug
block vars
 - ctrl.navtop.placeholder = false;
 - ctrl.navtop.shown = false;
block head
  +css("/dash/assets/lib/handsontable/handsontable.min.css")
  style(type="text/css"): :stylus
    tr td:nth-child(4)
      border-right: 2px solid #000
    tr:nth-child(1) td
      border-bottom: 2px solid #000
    td.active
      background: #09f
      color: #fff
block body
  .h-100.w-100.d-flex.flex-column.judge
    .p-2.d-flex
      .flex-grow-1.p-2
        span.mr-4 沉浸式內容國際合資合製補助計畫
        span #[i.i-radio.text-success] 決選表 - 王小明委員
      div
        .p-2 Kirby #[i.i-dart-down]

    .flex-grow-1.d-flex.w-100(style="overflow:hidden;margin-top:-.5em")
      .d-flex.flex-column(style="flex:3 2 60%")
        .flex-grow-1.bg-white.border-top.border-bottom.mt-3
          #edit.w-100.h-100(style="overflow:hidden")

        .px-4.py-2.w-100
          .d-flex.align-items-center
            .mr-4
              .text-muted.text-sm 距決選截止還有
              .text-danger 2 天 15 小時 20 分
            .mr-4.flex-grow-1
              .text-muted.text-sm 完成度 / #[span.text-danger 70%]
              .progress.my-1(style="width:100%")
                .progress-bar.progress-bar-striped.progress-bar-animated(style="width:60%")
            div: .btn.btn-outline-dark 提交評選結果


      div(style="flex:2 3 40%")
        .card.border.shadow.w-100.h-100(style="overflow:hidden;border-radius: .5em 0 0 .5em"): .card-body.p-0
          iframe.border-0.w-100.h-100(src="about:blank")


block script

  +script("/dash/assets/lib/handsontable/handsontable.min.js")
  +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
  +script("/dash/assets/lib/sharedb-wrapper/client.bundle.min.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  +script("/dash/js/judge/final-user.js")

  script: :lsc
    ldc.app \judgeFinalUser
