//- module
+scope("prj-detail"): .p-4
  .py-2.mb-4.text-center
    h3(ld="name")
    .text-muted(ld="ownername")
    //-div
      .btn.btn-outline-secondary 聯絡團隊


  .navbar.navbar-expand-lg.navbar-light.border.shadow-sm.rounded.sticky.z-fixed.bg-white(style="top:15px")
    .collapse.navbar-collapse
      ul.nav.nav-pills.mr-auto(ld="nav",data-nav="grp-detail")
        li.nav-item: .nav-link.active(ld="nav-tab default",data-name="prj-info") 基本資訊
        li.nav-item: .nav-link(ld="nav-tab",data-name="prj-track") 專案追蹤
        li.nav-item: .nav-link(ld="nav-tab",data-name="prj-budget") 經費表
        li.nav-item: .nav-link(ld="nav-tab",data-name="prj-view") 提案內容
      ul.navbar-nav.ml-auto
        li.nav-item: .nav-link(ld="nav-tab",data-nav="main",data-name="grp-list") 專案列表 #[i.i-chevron-right]

  .p-0
    div(ld="nav-panel default",data-nav="grp-detail",data-name="prj-info")
      .p-4
        .row.mb-4
          .col-md: .form-group
            label 提案人資訊
            .d-flex.align-items-center
              .rounded-circle.bg-cover.bg-portrait.bg-dark.mr-2(ld="avatar",style="width:2em;height:2em")
              a.mr-2(ld="username")
              .mr-2 ( 
              .mr-2(ld="email")
              .mr-2 ) 
          .col-md: .form-group
            label 提案代碼
            input.form-control(ld="id",readonly)

        .row
          .col-md: .form-group
            label 聯絡人
            input.form-control.border.rounded(placeholder="聯絡人")
          .col-md: .form-group
            label 聯絡用電子郵件
            input.form-control.border.rounded(placeholder="電子郵件信箱")

        .form-group
          label.mb-0 備註
          .text-muted.text-sm.mb-2 任何其它關於案件 / 提案人 / 團隊的資訊，可以記載在這裡。
          textarea.form-control(rows="10")

    div(ld="nav-panel",data-nav="grp-detail",data-name="prj-track")
      .w-100.mt-4: .aspect-ratio.ratio-2by1.bg-light: .w-100.h-100.vertical-center: .w-100.text-center 尚未啟用
      //-include track.pug
    div(ld="nav-panel",data-nav="grp-detail",data-name="prj-view")
      .w-100.mt-4: .aspect-ratio.ratio-2by1.bg-light: .w-100.h-100.vertical-center: .w-100.text-center 尚未啟用
      //-include view.pug
    div(ld="nav-panel",data-nav="grp-detail",data-name="prj-budget")
      .w-100.mt-4: .aspect-ratio.ratio-2by1.bg-light: .w-100.h-100.vertical-center: .w-100.text-center 尚未啟用
      //-include budget.pug

