//- module
h4 提案表
p.text-muted.mb-4 您可以使用這個提案表編輯器來客製化用戶提案時所要用到的表單頁面。
+scope("grp-form").d-flex
  .d-none(ld="form-sample"): include /form/subblock.pug
  .flex-grow-1(ld="form-list",hostable)
    div(ld-each="block",draggable="true")
  +nbr(5)
  .ml-4(ld="blocksrc")
    .sticky(style="top:18px")
      .list-group.shadow-sm.mb-4
        .list-group-item.clickable.text-nowrap(
        ld="block",draggable="true",data-name="form-short-answer") #[i.i-doc] 短答
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-long-answer") #[i.i-doc] 申論
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-radio") #[i.i-doc] 單選
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-checkbox") #[i.i-doc] 多選
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-file") #[i.i-doc] 傳檔
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-thumbnail") #[i.i-doc] 縮圖
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-tag") #[i.i-doc] 標籤
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-budget") #[i.i-doc] 預算
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-checkpoint") #[i.i-doc] 查核
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-datetime") #[i.i-doc] 時間
        //-.list-group-item.clickable(ld="block",draggable="true",data-name="form-table") #[i.i-doc] 表格
        //-.list-group-item.clickable(ld="block",draggable="true",data-name="form-text") #[i.i-doc] 說明
