//- module
h4 評分標準
p.text-muted.mb-4 編輯評審的評分標準。此評分標準將會自動套用到評審表以建立對應的欄位。
+scope("grade-panel").position-relative
  ul.nav.nav-tabs.mb-4
    li.nav-item(ld-each="entry"): a.nav-link
      span(ld="entry-text",data-name="name")
      span.text-sm.ml-2 ( #[span(ld="entry-text",data-name="percent")]% )
    li.nav-item.flex-grow-1
    li.nav-item.text-right: a.nav-link.text-muted.border-0(ld="new-entry") 新增 +

  .row
    .col-md: .form-group.mb-4
      label 項目名稱
      input.form-control(ld="entry-data",data-name="name",placeholder="條件名稱, 2 ~ 5 個字")
    .col-md: .form-group.mb-4
      label 配分比例
      .d-flex
        input.form-control(ld="entry-data",data-name="percent",placeholder="0 ~ 100")
        .ml-2 %

  .form-group.mb-4
    label 詳細說明
    textarea.form-control(ld="entry-data",data-name="description",placeholder="詳細說明 ...",rows="5")
  .d-flex
    .flex-grow-1
      .btn.btn-outline-danger.mr-2(ld="delete-entry") 刪除
    div
      .btn.btn-primary 儲存變更
  .position-absolute.w-100.h-100.vertical-center.rounded.bg-white(style="top:0;left:0",ld="empty")
    .w-100.text-center
      .mb-4 您尚未建立任何項目. 要先建立一個嗎？
      .btn.btn-outline-primary(ld="new-entry") 建立項目
