//- module
//-include ../../data/prj-list.pug
+scope("prj-list")
  .border-bottom.shadow-sm.bg-white.mb-4.sticky.z-float(style="top:0")
    .p-4
      .d-flex
        .input-group
          input.form-control.border-secondary(ld="search-input",placeholder="提案名稱或團隊名稱 ...")
          .input-group-append: .btn.btn-outline-secondary(ld="search") 搜尋
      .d-flex.mt-2
        .btn-group
          each n in [["所有專案",""],["初選名單","criteria"],["決選名單","shortlist"],["獲選名單","winner"]]
            .btn.btn-sm.btn-outline-secondary(ld="search-filter",data-name=n[1])= n[0]

  .px-4
    .d-flex.mb-2
      .flex-grow-1: b 專案列表
      div
        .btn.btn-sm.btn-text 匯出：
        .btn-group.mr-2
          .btn.btn-sm.btn-outline-secondary(ld="download",data-name="mail") 信箱 #[i.i-mail]
          .btn.btn-sm.btn-outline-secondary(ld="download",data-name="csv") CSV #[i.i-doc]
          .btn.btn-sm.btn-outline-secondary(ld="download",data-name="full") JSON #[i.i-html]
        .d-inline-block: .dropdown(ld="download-dropdown")
          .btn.btn-sm.btn-outline-secondary 進階下載 #[i.i-search]
          .dropdown-menu.dropdown-menu-right
            .dropdown-item(ld="download",data-name="custom",data-type="all") 全部資料
            .dropdown-item(ld="download",data-name="custom",data-type="active") 已送件
            .dropdown-item(ld="download",data-name="custom",data-type="criteria") 通過資格審查
            .dropdown-item(ld="download",data-name="custom",data-type="shortlist") 通過初審
            .dropdown-item(ld="download",data-name="custom",data-type="finalist") 通過決選
            .dropdown-item(ld="download",data-name="custom",data-type="winner") 獲選提案
    .w-100
      .d-flex.border-bottom.border-top.p-2
        .px-1(style="width:48px") 編號
        .px-1.mr-3(style="width:4em") 狀態
        div(style="flex:1000 0 0") 專案名稱 / 單位
        .pr-1.pl-4.text-right(style="width:8em") 提案者帳號
        .text-center(style="width:10em") 功能
        //-.px-1.text-center(style="width:200px") 預算概況
        //-.px-1.text-center(style="width:100px") 階段
      div(ld="prjs")
        .p-4.text-center.text-muted(ld="empty") 目前尚沒有任何提案。
        .d-flex.border-bottom.align-items-center.p-2(ld-each="prj")
          .px-1(ld="index",style="width:48px")
          .px-1.mr-3(style="width:4em")
            .dropdown.no-select
              .dropdown-toggle(data-toggle="dropdown",ld="state")
              .dropdown-menu
                .dropdown-item.disabled 切換成 ...
                .dropdown-divider
                .dropdown-item(ld="set-state",data-name="pending") 編輯中
                .dropdown-item(ld="set-state",data-name="active") 已送件
          div(style="flex:1000 0 0")
            .clickable.text-underline(ld="name")
            //-.text-muted.text-sm(ld="ownername")
          .pr-1.pl-4.text-right(style="width:8em;word-break:break-all",ld="username")
          //-.px-1.rounded-circle.bg-cover.bg-portrait.bg-dark.mr-2(ld="avatar",style="width:1.5em;height:1.5em")
          //-.px-1.text-center(style="width:70px")
            //-div 已核銷 #[span(ld="budget-consume")]
            //-.text-sm(ld="budget-detail")
          //-.px-1.text-center(ld="stage",style="width:70px")
          .text-center(style="width:5em")
            a.btn.btn-outline-dark.ld-ext-right(href="#",ld="edit",target="_blank",rel="noopener noreferrer") 編輯
          .text-center(style="width:5em")
            .btn.btn-outline-danger.ld-ext-right(ld="delete") 刪除 #[.ld.ld-spin.ld-spinner]

