//- module
//-include ../../data/prj-list.pug
+scope("prj-list")
  .border-bottom.shadow-sm.bg-white.mb-4.sticky.z-float(style="top:0")
    .p-4
      .d-flex
        .input-group
          input.form-control(placeholder="提案名稱或團隊名稱 ... ( 尚未啟用 )",disabled)
          .input-group-append: .btn.btn-outline-secondary 搜尋
      //-.d-flex.mt-2
        each n in ["所有專案","初選名單","決選名單","獲選名單"]
          .d-flex.align-items-center.mr-4
            input.mr-1(type="radio",style="margin-top:-4px")
            div #{n}
        .flex-grow-1.text-right
          a(href="#") 進階搜尋 ...
  .px-4
    .d-flex.mb-2
      .flex-grow-1: b 專案列表
      div
        .btn.btn-sm.btn-text 匯出：
        .btn-group
          .btn.btn-sm.btn-outline-secondary #[i.i-mail]
          .btn.btn-sm.btn-outline-secondary #[i.i-bars]
    .w-100
      .d-flex.border-bottom.border-top.p-2
        .px-1(style="width:48px") 編號
        .flex-grow-1 專案名稱 / 單位
        //-.px-1.text-center(style="width:200px") 預算概況
        //-.px-1.text-center(style="width:100px") 階段
      div(ld="prjs")
        .d-flex.border-bottom.align-items-center.p-2(ld-each="prj")
          .px-1(ld="index",style="width:48px")
          .flex-grow-1
            .clickable.text-underline(ld="name")
            .text-muted.text-sm(ld="ownername")
          .px-1.text-center(style="width:200px")
            //-div 已核銷 #[span(ld="budget-consume")]
            //-.text-sm(ld="budget-detail")
          .px-1.text-center(ld="stage",style="width:100px")

