//- module
include /ui/data/sample.pug
- prj = data.prj;
//-.position-relative
  .typeset.heading-contrast.my-0
    .text-muted.text-sm #[a(href="/project/list.html") 第三十四屆公民科技獎助金] / 提案
    .d-flex.align-items-center.mt-1
      h2.flex-grow-1.m-0 #{prj.name}
      label.text-muted.mb-0.mr-2 提案人
      +user
  .py-2: hr
.typeset.heading-contrast(style="font-size:1.125em")
  div
    h4 你需要多少錢？（30 ~ 50 萬之間）
    p 500000

    h4 請以簡短且非專業人士也能理解的方式介紹此專案。
    p 開發一個網頁工具，使用者可以輸入關鍵字，快速瀏覽開放過的相關資料和政府辦理民眾資料申請的情形。透過各項功能，串起民眾的申覆結果、申覆內容解讀原則、資料申請使用者，形成關心資料開放、協力推動的社群，讓政策推動者導入行政資源，逐項辦理。

    h4 提案者簡介。
    p.
      張淑貞，參與農地污染和違章工廠資料開放推動及應用。
      劉哲瑋，參與 g0v 公有地相關議題專案。

    h4 請簡述提案者在專案中的角色（例如：專案經理、全端工程師、顧問等）、專案成員與團隊背景介紹。（團隊現在有什麼人才？還需要什麼人才？）
    p.
      團隊成員
      1.張淑貞，專案管理執行。
      2.劉哲瑋，企劃執行、研究分析。
      3.york，工程師、資料蒐集分析。
      4..高英勛， 工程師、專案顧問。

      需要人才
      1.資料工程師，建置資料申請關鍵字工具及資訊呈現。
      2.使用者介面設計者，規劃便於目標對象使用的介面。

    h4 你為什麼要做這個計劃（個人動機）？
    p.
      開放資料，是政府公平透明治理的第一步。目前中央的政府資料開放平台 (data.gov.tw) 公開民眾申請資料及政府機關回覆內容，這點其實已很進步，但還有進步空間，例如民眾申請常被駁回，平台本身也沒有進一步統整民眾申請資料的結果，導致前人經驗很難提供後面申請者參考。另外，民眾收到政府駁回開放資料的原因後，也不知該如何處理或進一步要求，可能就此打住。

      如果有一個資料庫工具，可在申請資料前，提供過去已經開放或建議開放的情形，就可以幫助申請者對官方回應做出更有效的解讀及應對。透過「資料申請小幫手」所提供的功能，資料申請者可以了解其他申請者的經驗，建立開放資料民間社群的共通感，一方面讓開放資料新參者延續關注熱度，而不因為官方公文用語回覆內容所致使的難解與挫折感而放棄；另一方面，更具體的找出「官」與「民」意見交流之中，實際上可以進一步促成開放資料化的公共政策主題。

      透過資料申請小幫手，建構正向互動的資料申覆經驗。

    h4 這是一個現有的計畫嗎？若是，請說明是否為開源及提供網址
    p 否

  //-
    h3 討論
    .text-center.text-muted 沒有內容 ...

