server {
  server_name g0v.grantdash.dev;
  include ./sites-enabled/grantdash.io/modules/http.config;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/
  root /home/web/projects/grantdash/server/users/org/g0v-jothon/static/;
}

server {
  server_name g0v.grantdash.dev;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/g0v.grantdash.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/g0v.grantdash.dev/server.key;
  ssl_certificate /etc/letsencrypt/live/g0v.grantdash.dev/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/g0v.grantdash.dev/privkey.pem;
  location / { 
    root /home/web/projects/grantdash/server/users/org/g0v-jothon/static/;
  }
  location ~ ^/brd/(?<slug>[^/]+)/(?<path>.*) { 
    root /home/web/projects/grantdash/server/users/org/g0v-jothon/brd/$slug/static/;
    try_files /$path /$path/index.html =404;
  }

  include ./sites-enabled/grantdash.io/domains/production.config;
}
