
[contenteditable]:focus
  box-shadow: 0 0 5px 4px rgba(0,128,255,.2)
  outline: 3px solid rgba(255,255,255,1)

.ql-editor[contenteditable]:focus
  box-shadow: none
  outline: 0

[contenteditable="true"].single-line
  overflow: hidden

[contenteditable="true"].single-line br
  display: none

[contenteditable="true"].single-line *
  display: inline
  white-space: nowrap

[editable]:empty
  &:before
    content: "請在此填入內容 ..."
    display: inline
    opacity: .5


.folder-item [contenteditable="true"]:focus
  box-shadow: none
  outline: 0

.treeview .folder-menu .folder-item
  padding-left: 1em
