extends base.pug
block content
  .text-center
    h1.display-4.font-weight-bolder Bad Request.
    p.text-muted HTTP 400 We can't handle the request you send to server.
    br
    .sep.my-4
    br
    a(href="/") Go Back Home
