extends base.pug
block content
  .text-center
    h1.display-4.font-weight-bolder 操作有誤
    p.text-muted HTTP 400 您的瀏覽器所發出的要求內含有問題的資料，使得我們無法正確的解譯，因此無法正確的提供指定的資源給您。
    br
    .sep.my-4
    br
    a(href="/") 回首頁
