extends base.pug
block content
  .text-center
    h1.display-4.font-weight-bolder Access Denied.
    p.text-muted HTTP 403 You can't access the requested resource without proper permission.
    br
    .sep.my-4
    br
    a(href="/") Go Back Home
