extends base.pug
block content
  .text-center
    h1.display-4.font-weight-bolder Not Found.
    p.text-muted HTTP 404 File is missing or doesn't even exist at all.
    br
    .sep.my-4
    br
    a(href="/") Go Back Home
