extends base.pug
block content
  .text-center
    h1.display-4.font-weight-bolder Server Error.
    p.text-muted HTTP 500 Something wrong in server, please try again later.
    br
    .sep.my-4
    br
    a(href="/") Go Back Home
