//- module
extends /base.pug
block vars
 - ctrl.navtop.placeholder = false;
 - ctrl.foot.edgeMask = false;
block body
  .w-100.h-100.text-center.vertical-center(
  style="background:center center;background-size:cover")
    div: block content
