doctype html
html
  head
    meta(charset="utf-8")
  body
    div(style="position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;width:400px;height:4em;text-align:center")
      | 網站更新中，請稍後再回來。
      br
      br
      | The site is under maintenance. Please come back later.
