##### Dev Files #####
location ~ ^/dash/misc/(.*)$ {
  default_type text/plain;
  return 404 " ";
}

##### Websocket Configuration ( for Sharedb )
location ~ ^/dash/ws$ {
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $host;
  proxy_pass http://grantdash-api;
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
  proxy_connect_timeout 30m;
  proxy_send_timeout 30m;
  proxy_read_timeout 30m;
}

##### Authentication API
location = /dash/api/global {
  rewrite ^/dash/(.*) /$1 break;
  proxy_pass http://grantdash-api;
  proxy_intercept_errors on;
  error_page 404 500 502 503 504 /empty/404;
}

location /dash/err/ {
  rewrite ^/dash/(.*) /$1 break;
  internal;
}

##### Special Router - put in front so wont be overwritten by general rule.
location ~ ^/dash/brd/(.+)/prj/create$ {
  try_files /view/default/prj-create.html =404;
}

location ~ ^/dash/brd/(.+)/grp/(.+)/judge/(?<type>[^/]+)/(?<lv>[^/]+)$ {
  try_files /judge/$type-$lv.html =404;
}

location ~ ^/dash/admin/?$ {
  try_files _ @viewserver;
}

location ~ ^/dash/(brd|org)/(.+)/admin$ {
  try_files _ @viewserver;
}

location ~ ^/dash/prj/(.+)/edit$ {
  try_files /view/default/prj-edit.html =404;
}

location ~ ^/dash/discuss/(?<slug>[^/]+)$ {
  try_files /discuss/thread.html =404;
}

location ~ ^/dash/post/(?<slug>[^/]+)/edit$ {
  try_files /admin/post-edit.html =404;
}

# following two rules are for landing page only, of which url is decided in express server.
#
location ~ ^/dash/private/org/(?<orgslug>[^/]+)/static/index.html$ {
  try_files /../users/org/$orgslug/static/index.html =404;
  internal;
}

location ~ ^/dash/private/org/(?<orgslug>[^/]+)/brd/(?<brdslug>[^/]+)/static/index.html$ {
  try_files /../users/org/$orgslug/brd/$brdslug/static/index.html =404;
  internal;
}

location ~ ^/dash/private/org/(?<orgslug>[^/]+)/prj/(?<prjslug>[^/]+)/upload/(?<fn>[^/]+)$ {
  try_files /../users/org/$orgslug/prj/$prjslug/upload/$fn =404;
  internal;
}

location ~ ^/dash/org/(?<orgslug>[^/]+)/brd/(?<brdslug>[^/]+)/upload/(?<fn>[^/]+)$ {
  try_files /../users/org/$orgslug/brd/$brdslug/upload/$fn /assets/img/$fn =404;
}

location ~ ^/dash/org/(?<orgslug>[^/]+)/upload/(?<fn>[^/]+)$ {
  try_files /../users/org/$orgslug/upload/$fn =404;
}

location ~ ^/dash/s/avatar/(.*)$  {
  try_files /s/avatar/$1 /assets/img/avatar.svg =403;
}

# all static file requests go to local files
location ~ ^/dash/(s|js|css|assets)/(.*)$ {
  try_files /$1/$2 /$1/$2/index.html =404;
}

location ~ ^/dash/api/upload$ {
  client_max_body_size 20m;
  try_files _ @apiserver;
}

location ~ ^/dash/api/(.*)$ {
  try_files _ @apiserver;
}

location ~ ^/dash/(.*) {
  try_files /$1 /$1/index.html @viewserver;
}

# put at the bottom
location ~ \.(?:ico|css|js|gif|jpe?g|png|svg|woff|ttf|otf)$ {
  expires 1d;
  add_header Pragma public;
  add_header Cache-Control public;
}
