listen 443;
ssl on;
ssl_protocols TLSv1.2 TLSv1.3;
charset utf-8;

# prevent rendered in iframe / embed / object.
add_header X-Frame-Options "SAMEORIGIN";

# empty response
location = /empty {
  internal;
  return 200 "";
}
error_page 423 /empty;

# empty response, with 404
location = /empty/404 {
  internal;
  default_type text/plain;
  return 404 " ";
}

location = /robots.txt       { return 404; }

error_page 400 /dash/err/400.html;
error_page 403 /dash/err/403.html;
error_page 404 /dash/err/404.html;
error_page 500 /dash/err/500.html;
error_page 502 /dash/err/502.html;

location @apiserver  {
  rewrite ^/dash/(.*) /$1 break;
  proxy_pass http://grantdash-api;
}

location @viewserver {
  rewrite ^/dash/(.*) /$1 break;
  proxy_pass http://grantdash-api;
  proxy_intercept_errors on;
}
