//- module
doctype html
html
  include /modules/common.pug
  include lib.pug
  - libLoader.root("/dash/assets/felib")
  block vars
  head
    block prehead
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext", path: "index.min.css"},
      {name: "@loadingio/loading.css", path: "loading.min.css"},
      {name: "ldbutton"},
      {name: "ldcover"},
      {name: "ldloader"}
    ])
    block head
  body
    include covers.pug
    block body
    script(src="https://browser.sentry-cdn.com/5.23.0/bundle.tracing.min.js"
    integrity="sha384-lSZkoLgJeNT+V/zBEZAchPik9VPNr9wvgAY6mwoMK5SO/cMsK/whVXKKdQOL1oiw"
    crossorigin="anonymous")
    +script("/dash/assets/lib/moment.js/2.25.3/moment.min.js")
    +script("/dash/assets/lib/moment-timezone.js/0.5.31/moment-timezone.min.js")
    +script("/dash/assets/lib/ldui/ldui.min.js")
    +script("/dash/assets/lib/ldc/ldc.min.js")
    +script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/dash/js/util/stage.js")
    +script("/dash/js/ldsite.js")
    +script("/dash/js/site.js")

    +script([
      {name: "proxise"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "i18next", path: "dist/umd/i18next.min.js"},
      {name: "i18next-browser-languagedetector", path: "dist/umd/i18nextBrowserLanguageDetector.min.js"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "ldloader"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/block"} 
    ])
    +register-locals("exports", true)
    script(type="module"): include:lsc index.ls
    script(type="module"): include:lsc upload.ls
    block script
