//- module
doctype html
html
  include lib.pug
  - libLoader.root("/dash/assets/felib")
  block vars
  head
    block prehead
    +css({name: "bootstrap", version: "4.6.1", path: "css/bootstrap.min.css"})
    +css({name: "@loadingio/bootstrap.ext", version: "0.0.3", path: "index.min.css"})
    +css({name: "ldcover", version: "2.1.0"})
    +css({name: "ldloader", version: "2.1.0"})
    block head
  body
    block body
    +script({name: "proxise", version: "0.1.6"})
    +script({name: "@loadingio/debounce.js", version: "0.0.1", path: "debounce.min.js"})
    +script({name: "@loadingio/ldquery", version: "2.2.1", path: "ldq.min.js"})
    +script({name: "i18next", version: "21.6.0", path: "umd/i18next.min.js"})
    +script({name: "ldview", version: "0.2.7"})
    +script({name: "ldcover", version: "2.1.0"})
    +script({name: "ldloader", version: "2.1.0"})
    +script({name: "@plotdb/rescope", version: "4.0.1"})
    +script({name: "@plotdb/csscope", version: "3.0.1"})
    +script({name: "@plotdb/block", version: "3.0.0"})
    block script
