//- module
doctype html
html
  include /modules/common.pug
  include /modules/version.pug
  include lib.pug
  -
    libLoader.root("/dash/assets/felib");
    libLoader.version(version);
  block vars
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block prehead
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext", path: "index.min.css"},
      {name: "@loadingio/loading.css", path: "loading.min.css"},
      {name: "ldiconfont", path: "ldif.min.css"},
      {name: "ldbutton"},
      {name: "ldcover"},
      {name: "ldloader"},
      {url: "/dash/css/modules/authpanel.min.css"},
      {url: "/sys/css/index.css"}
    ])
    style(type="text/css"): :stylus
      body
        scroll-behavior: smooth
      @font-face
        font-family: 'ldi'
        font-weight: normal
        font-style: normal
        src: url('/dash/assets/felib/ldiconfont/main/ldif.ttf') format('truetype')
      @media (max-width: 960px)
        #nav-top { display: none }
    block head
    script if(/MSIE|Trident/.exec(navigator.userAgent)) { window.location.href = "/err/ie/" };
  body
    include covers.pug
    #nav-top: nav.navbar.navbar-expand-lg.fixed-top
      button.navbar-toggler(type="button",data-toggle="collapse",
      data-target="#nav-top-content"): span.navbar-toggler-icon
      +scope("nav-top")#nav-top-content.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown(ld="profile")
            .nav-link.dropdown-toggle.d-flex.align-items-center(data-toggle="dropdown")
              .avatar.mr-2(ld="avatar")
              span(ld="displayname")
            .dropdown-menu.dropdown-menu-right.shadow-sm
              a.dropdown-item(t,href="/dash/me/") Project List
              a.dropdown-item(t,href="/dash/me/settings/") Settings
              .dropdown-divider
              a.dropdown-item(t,ld="logout") Logout


    block body
    script(src="https://browser.sentry-cdn.com/5.23.0/bundle.tracing.min.js"
    integrity="sha384-lSZkoLgJeNT+V/zBEZAchPik9VPNr9wvgAY6mwoMK5SO/cMsK/whVXKKdQOL1oiw"
    crossorigin="anonymous")
    +script("/dash/assets/lib/moment.js/2.25.3/moment.min.js")
    +script("/dash/assets/lib/moment-timezone.js/0.5.31/moment-timezone.min.js")
    +script("/dash/assets/lib/ldui/ldui.min.js")
    +script("/dash/assets/lib/ldc/ldc.min.js")
    +script("/dash/assets/lib/ldsite/dev/ldsite.min.js")
    //-+script("/dash/assets/lib/ldsite/0.0.2/ldsite.min.js")
    +script("/dash/js/util/stage.js")
    +script("/dash/js/ldsite.js")
    +script("/dash/js/site.js")

    +script([
      {name: "bootstrap.native", path: "dist/bootstrap-native-v4.min.js"},
      {name: "proxise"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "i18next", path: "dist/umd/i18next.min.js"},
      {name: "i18next-browser-languagedetector", path: "dist/umd/i18nextBrowserLanguageDetector.min.js"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "ldfile"},
      {name: "ldloader"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/block"} 
    ])
    +register-locals("exports", true)
    script(type="module")
      include:lsc index.ls
      include:lsc upload.ls
    block script
