//- module
doctype html
html
  include lib.pug
  - libLoader.root("/dash/assets/felib")
  block vars
  head
    block prehead
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext", path: "index.min.css"},
      {name: "ldcover"},
      {name: "ldloader"}
    ])
    block head
  body
    block body
    +script([
      {name: "proxise"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "i18next", path: "dist/umd/i18next.min.js"},
      {name: "i18next-browser-languagedetector", path: "dist/umd/i18nextBrowserLanguageDetector.min.js"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "ldloader"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/block"} 
    ])
    block script
