//- module
.ldcv.ldcvmgr(data-name="submitting",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
  .text-center
    div 送件中 ...
    .ld.ld-spin.ld-spinner.text-lg.mt-4

.ldcv.ldcvmgr(data-name="submitted",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
  h2.text-center 您的案件已送出
  br
  //-
     此處文案為未來內容客製版本
     我們應該要把此處的 covers 移進 @taiccadash/base, 以 subblock 來處理, 如:

      - {name: "@taiccadash/base", path: "covers/submitted.html"}

     接著讓 child block 可以客製 block name.

     這牽扯到區塊客製化的問題, 另一種可能是讓 block def + registry 可以被攔截 + 修改
     但整件事要做可能會花一些時間, 我們先用最簡單的方式處理 ( 改公版 )
  p 注意事項：
  ol.pl-4
    li 送件後無法繼續編輯，若您發現有任何問題需要修正，請洽承辦人員。
    li 所送資料將交由計畫委員進行審查，若委員要求貴單位補充文件內容或資料，將另行通知。
    li 請先製作簡報，後續將另行通知簡報上傳時間。
    li 若貴單位通過審查，請於審查會議後下載表單PDF檔，印出紙本後用印寄回，以辦理結案作業。
  br
  .btn.btn-lg.btn-primary.btn-block(data-ldcv-set="") 關閉

.ldcv.ldcvmgr(data-name="saving",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
  .text-center
    div 暫存進度中 ...
    .ld.ld-spin.ld-spinner.text-lg.mt-4

.ldcv.ldcvmgr(data-name="saved",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
  .text-center
    h2 您的編輯進度已儲存。
  .py-4
    p 您隨時可以回到這個頁面繼續編輯。若需要回到此頁，請由網頁右上角的下拉選單中點選「個人頁面」，即可找到您建立的案件。
  .btn.btn-lg.btn-primary.btn-block.ld-ext-right(data-ldcv-set="") 關閉

.ldcv.ldcvmgr(data-name="print-timeout",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
  .text-center
    h2 連線逾時
  .py-4: p 主機沒有在一定的時間內產生 PDF 檔，可能是因為服務忙碌中。您可以稍候再重試一次，或者直接將此頁面列印成 PDF 檔做為您的申請書。
  .row
    .col-md
      .btn.btn-lg.btn-block.btn-outline-primary.btn-block(
      onclick="lda.ldcvmgr.toggle('flagship-print-timeout',false).then(function(){print()})") 列印此頁面
    .col-md
      .btn.btn-lg.btn-block.btn-primary(data-ldcv-set="") 稍候再試
