extends /auth/base.pug
block vars
 - ctrl.cover.authpanel = false;
 - ctrl.navtop.placeholder = false;
 - ctrl.navtop.shown = false;
include /modules/widget/authpanel.pug
block content
  +authpanel()
    h1.mb-4.font-weight-bold(t) 登入失敗.
    p(t) 您之前可能用的是別組帳號或密碼、使用不同的登入方式、甚至尚未註冊過。您可以試著：
    ul
      li(t) 換一組帳號、密碼或登入方式
      li(t) 確認您的 email 或密碼沒有打錯
      li #[a(href="/dash/auth/reset/",style="color:#0ff",target="_blank",rel="noopener noreferrer",t) 重設密碼]
block script
  +script("/dash/js/auth/index.js")
