doctype html
include /modules/common.pug
html
  head
    +css("/dash/css/pack/vendor.min.css")
    +css("/dash/css/index.css")
  body(style="background-image:linear-gradient(15deg,#bbb,#f9fafb 35%,#fff 70%);font-weight:300")
    .p-4
      //-img.mx-auto.d-block.my-4(src="/dash/assets/img/c/logo/ldio-alt.svg",style="width:160px;opacity:0.5")
      h1.text-center.my-4(t) 登入失敗。
      br

      p(t) 您之前可能用的是別組帳號或密碼、使用不同的登入方式、甚至尚未註冊過。您可以試著：
      ul
        li(t) 換一組帳號、密碼或登入方式
        li(t) 確認您的 email 或密碼沒有打錯
        li #[a(href="/dash/auth/reset/",style="color:#09f",target="_blank",rel="noopener noreferrer",t) 重設密碼]

    +nbr(2)
    +script("/dash/assets/felib/i18next/main/dist/umd/i18next.min.js")
    +script("/dash/assets/felib/i18next-browser-languagedetector/main/dist/umd/i18nextBrowserLanguageDetector.min.js")
    +script("/dash/js/i18n-data.js")
    +script("/dash/js/i18n.js")
