//- module
- if(!ctrl.navtop) { ctrl.navtop = {placeholder: true, shown: true}; }
- if(!ctrl.navtop.className) { ctrl.navtop.className = "navbar-light bg-semi-light" };
if ctrl.navtop.shown
  #nav-top: nav.navbar.navbar-expand-lg.fixed-top(
  class=ctrl.navtop.className,
  data-transition=ctrl.navtop.transition,
  data-transition-target=ctrl.navtop.transitionTarget)
    //-a.navbar-brand.text-dark(href="/") Battle Dash
    .navbar-brand
      a(pd="brand-org",href="/")
      span(pd="has-brand-brd")
        span.mx-2 /
        a(pd="brand-brd",href="/")
    button.navbar-toggler(type="button",data-toggle="collapse",
    data-target="#nav-top-content"): span.navbar-toggler-icon
    //-ul.navbar-nav.mr-auto
      li.nav-item: a.nav-link(href="#") 常用功能
    +scope("nav-top")#nav-top-content.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.d-none(ld="signup"): a.nav-link 註冊
        li.nav-item.d-none(ld="login"): a.nav-link 登入
        li.nav-item.dropdown(ld="profile")
          a.nav-link.dropdown-toggle.d-flex.align-items-center(href="#",data-toggle="dropdown")
            .avatar.mr-2(ld="avatar")
            span(ld="displayname")
          .dropdown-menu.dropdown-menu-right.shadow-sm
            a.dropdown-item(href="/dash/me/") 個人頁面
            a.dropdown-item(href="/dash/me/settings/") 帳號設定
            .dropdown-divider
            a.dropdown-item(href="/dash/admin/") 主控台
            //-
              a.dropdown-item(href="/me/") 我的提案
              a.dropdown-item(href="/me/") 我的關注
              a.dropdown-item(href="/me/") 其它動態
              .dropdown-divider
              a.dropdown-item(href="/me/") 管理活動
              a.dropdown-item(href="/me/") 提案評選
              .dropdown-divider
            .dropdown-divider
            a.dropdown-item(ld="logout") 登出
  if ctrl.navtop.placeholder
    #nav-top-placeholder
