include ./sites-enabled/grantdash.io/modules/upstream.config;

server {
  server_name dev.gda.sh;
  include ./sites-enabled/grantdash.io/modules/http.config;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/static/;
}

server {
  server_name dev.gda.sh;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/dev.gda.sh/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/dev.gda.sh/server.key;

  include ./sites-enabled/grantdash.io/domains/dev.config;

  # grantdash only. for shorthand url
  location ~ ^/(.*) {
    root /Users/tkirby/workspace/zbryikt/grantdash/server/static/;
    try_files /$1 /$1/index.html @viewserver;
  }

}

include ./sites-enabled/grantdash.io/domains/dev/*/org.config;
include ./sites-enabled/grantdash.io/domains/dev/*/brd.*.config;
