//- module
h4 基本資訊
p.text-sm.text-muted 專案分組您可以在這裡為這個專案分組設定基本資訊，例如名稱、簡介、主視覺、活動時間等等。
hr.my-4
.row.align-items-center.mb-4
  .col-md-2.text-right 分組名稱
  .col-md: input.form-control
.row.align-items-center.mb-4
  .col-md-2.text-right 分組代碼
  .col-md: input.form-control
.row.align-items-start.mb-4
  .col-md-2.text-right 分組摘要
  .col-md: textarea.form-control(rows="4")
hr.my-4
.d-flex.justify-content-end
  div: .btn.btn-primary.disabled(ld="submit") 更新資料
