//- module
.d-none: include subblock.pug
include timeline.pug
+scope("prj-form").d-flex
  #form.flex-grow-1(hostable): div(ld-each="block",draggable="true")
  +scope("blocksrc").ml-4(ld="blocksrc")
    .sticky(style="top:60px")
      .list-group.shadow-sm.mb-4
        .list-group-item.clickable.text-nowrap(
        ld="block",draggable="true",data-name="form-short-answer") #[i.i-doc] 短答
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-long-answer") #[i.i-doc] 申論
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-checkbox") #[i.i-doc] 單選
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-radio") #[i.i-doc] 多選
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-file") #[i.i-doc] 傳檔
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-budget") #[i.i-doc] 預算
        .list-group-item.clickable(ld="block",draggable="true",data-name="form-checkpoint") #[i.i-doc] 查核
      .btn.btn-primary.btn-block 更新資料
      .btn.btn-outline-secondary.btn-block 捨棄變更
