//- module
h4 資格審核
p.text-muted.text-sm 編輯提案所需具備的資格清單與細節。此列表將運用在評選時的資格審核表中。
ul.nav.nav-tabs.mb-4
  li.nav-item: a.nav-link.active 開源
  li.nav-item: a.nav-link 協作
  li.nav-item: a.nav-link 重用
  li.nav-item.flex-grow-1
  li.nav-item: a.nav-link 新增 #[i.i-plus]
.form-group.mb-4
  label 條件名稱
  input.form-control.border-bottom.rounded-0(style="border-width:0",placeholder="條件名稱")
.form-group.mb-4
  label 詳細說明
  textarea.form-control(placeholder="詳細說明 ...", rows="5")
.d-flex
  .flex-grow-1
    .btn.btn-outline-danger.mr-2 刪除
    .btn.btn-outline-dark 捨棄
  div
    .btn.btn-primary 儲存變更

