//- module
h4 評分標準
p.text-muted.text-sm 編輯評審的評分標準。此評分標準將會自動套用到評審表以建立對應的欄位。
ul.nav.nav-tabs.mb-4
  li.nav-item: a.nav-link.active 創意 #[span.text-sm ( 50% )]
  li.nav-item: a.nav-link 技術 #[span.text-sm ( 20% )]
  li.nav-item: a.nav-link 可行性 #[span.text-sm ( 30% )]
  li.nav-item.flex-grow-1
  li.nav-item: a.nav-link 新增 #[i.i-plus]
.row
  .col-md
    .form-group.mb-4
      label 標準名稱
      input.form-control.border-bottom.rounded-0(style="border-width:0",placeholder="條件名稱, 2 ~ 5 個字")
  .col-md
    .form-group.mb-4
      label 配分比例
      input.form-control.border-bottom.rounded-0(style="border-width:0",placeholder="0 ~ 100%")
.form-group.mb-4
  label 詳細說明
  textarea.form-control(placeholder="詳細說明 ...", rows="5")
.d-flex
  .flex-grow-1
    .btn.btn-outline-danger.mr-2 刪除
    .btn.btn-outline-dark 捨棄
  div
    .btn.btn-primary 儲存變更


