doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
  body
    .w-1024.mx-auto.rwd.mt-4
      h1.text-center 零時小學校
      p 零時小學校（Sch001）是聚焦在教育的 g0v 專案，將代表數位原生世代的 0 與 1 放入代表教育的「學校（School）」，從零重新思考學校的角色，代表教育與數位社群的連結與協作。
      .btn.btn-outline-dark(pd="propose") 報名去
      hr
      h2 提案列表
      div(pd-each="project-list")
        h3(ld="title")
        .text-muted(ld="desc")
    +script("/assets/lib/ldui/ldui.min.js")
    script: :lsc
      view = new ldView do
        context: {title: "hello"}
        global: true
        root: document.body
        action: click: do
          propose: -> console.log \clicked
        handler: do
          "project-list": do
            list: -> [1,2,3,4,5]
            init: ({node, local, context}) -> 
              local.view = new ldView do
                root: node
                context: context
                handler: do
                  title: ({node, context}) -> node.innerText = "Hi There, " + context.title
                  desc: ({node}) -> node.innerText = "Im description."

            handler: ({node, local, context}) ->
              local.view.setContext context
              local.view.render!
      setInterval (->
        view.setContext { title: Math.random!toString(36)substring(2) }
        view.render!
      ), 1000
