server {
  server_name taicca.dev;
  include ./sites/grantdash/http.config;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/users/1/static/;
}

server {
  server_name taicca.dev;
  root /Users/tkirby/workspace/zbryikt/grantdash/server/users/1/static/;
  include ./sites/grantdash/custom-https.config;
  include ./sites/grantdash/https.config;
  include ./sites/grantdash/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/taicca.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/taicca.dev/server.key;
}
