//- module
.rwd.mx-auto.typeset.heading-contrast.mt-0
  h3 資格審查
  p.text-muted 資格審查為工作人員初審作業，為減少評審所需評選的提案數以及避免評審花費時間在驗證提案作業所做的預審。資格審查員不需另行邀請，但需具有活動管理員之權限。
  a.btn.btn-outline-primary.mr-2(ld="criteria-user-link",target="_blank",rel="noopener noreferrer",
  href="#") 進行審查
  a.btn.btn-outline-primary(ld="criteria-all-link",target="_blank", rel="noopener noreferrer",
  href="#") 瀏覽總表
