//- module
+scope("judge-final")
  .rwd.mx-auto.typeset.heading-contrast.mt-0
    h3 決選作業
    p.text-muted 決選由指定的評審進行，用於選出最後獲選的名單。
    a.btn.btn-outline-primary.mr-2(ld="final-user-link",target="_blank",rel="noopener noreferrer",
    href="#") 進行審查
    a.btn.btn-outline-primary(ld="final-all-link",target="_blank", rel="noopener noreferrer",
    href="#") 瀏覽總表
    hr
    .d-none.my-2(ld-each="final-judge"): .d-flex.align-items-center
      a.mr-2(href="#",style="flex:0 0 10em",ld="name",target="_blank", rel="noopener noreferrer")
      .flex-grow-1(ld="progress")
        .progress
          .progress-bar.bg-success(ld="progress-bar",style="width:0%")

