//- module

style(type="text/css"): :stylus
  div[ld-scope=judge-final]
    .progress-bar
      transition: .35s width ease-in-out
  div[ld-scope=judge-final] div[ld=ldbar]
    svg path { stroke-width: 9 }
    svg path.mainline { stroke: #09f }
    .ldBar-label {
      font-size: 1.5em;
      text-align: center
    }
    .ldBar-label:after {
      font-size: .5em;
    }
    .ldBar-label:before {
      font-size: .6em;
      content: "整體進度";
      display: block
    }

+scope("judge-final")
  .rwd.mx-auto.typeset.heading-contrast.mt-0
    h3 評分作業
    p.text-muted 評評分指定的評審進行，使用配分的方式以排名的方式決定入選的名單。
    a.btn.btn-outline-primary.mr-2(ld="final-user-link",target="_blank",rel="noopener noreferrer",
    href="#") 進行審查
    a.btn.btn-outline-primary(ld="final-all-link",target="_blank", rel="noopener noreferrer",
    href="#") 瀏覽總表
    hr
    .row
      .col-md
        .form-group.d-flex.align-items-center
          .flex-grow-1
            div 過濾評選結果
            .text-muted.text-sm 評選表僅列出依資格審查通過的專案
          div: .switch.switch-lg(ld="switch",data-name="filter-criteria")
      .col-md
        .form-group.d-flex.align-items-center
          .flex-grow-1
            div 過濾評選結果
            .text-muted.text-sm 評選表僅列出篩選表通過的專案
          div: .switch.switch-lg(ld="switch",data-name="filter-primary")
    .row
      .col-md
        .form-group.d-flex.align-items-center
          .flex-grow-1
            div 評審匿名
            .text-muted.text-sm 若啟用，總表將會顯示評審名稱
          div: .switch.switch-lg(ld="switch",data-name="anonymous")
      .col-md
    hr
    .row.py-4
      .col-md-5: .px-4
        .aspect-ratio.ratio-1by1
          .ldBar.w-100.h-100.label-center(ld="ldbar",data-value="0",data-preset="circle")
      .col-md-7
        h4 個別評選進度
        hr
        .d-none.my-2(ld-each="final-judge"): .d-flex.align-items-center
          .mr-2(href="#",style="flex:0 0 10em",ld="name",target="_blank", rel="noopener noreferrer")
          .flex-grow-1(ld="progress")
            .progress
              .progress-bar.bg-success(ld="progress-bar",style="width:0%")

