//- module
+scope("judge-final")
  .rwd.mx-auto.typeset.heading-contrast.mt-0
    h3 評分作業
    p.text-muted 評評分指定的評審進行，使用配分的方式以排名的方式決定入選的名單。
    a.btn.btn-outline-primary.mr-2(ld="final-user-link",target="_blank",rel="noopener noreferrer",
    href="#") 進行審查
    a.btn.btn-outline-primary(ld="final-all-link",target="_blank", rel="noopener noreferrer",
    href="#") 瀏覽總表
    hr
    .row
      .col-md
        .form-group.d-flex.align-items-center
          .flex-grow-1
            div 過濾評選結果
            .text-muted.text-sm 評選表僅列出依資格審查通過的專案
          div: .switch.switch-lg(ld="switch",data-name="filter-criteria")
      .col-md
        .form-group.d-flex.align-items-center
          .flex-grow-1
            div 過濾評選結果
            .text-muted.text-sm 評選表僅列出篩選表通過的專案
          div: .switch.switch-lg(ld="switch",data-name="filter-primary")
    .row
      .col-md
        .form-group.d-flex.align-items-center
          .flex-grow-1
            div 評審匿名
            .text-muted.text-sm 若啟用，總表將會顯示評審名稱
          div: .switch.switch-lg(ld="switch",data-name="anonymous")
      .col-md
    .d-none.my-2(ld-each="final-judge"): .d-flex.align-items-center
      a.mr-2(href="#",style="flex:0 0 10em",ld="name",target="_blank", rel="noopener noreferrer")
      .flex-grow-1(ld="progress")
        .progress
          .progress-bar.bg-success(ld="progress-bar",style="width:0%")

