//- module
.rwd.mx-auto.typeset.heading-contrast.mt-0
  h3 初選作業
  p.text-muted 初選由指定的評審進行，主要用於快速篩選提案使用。初選完成後，可視情形接續決選作業。
  a.btn.btn-outline-primary.mr-2(ld="primary-user-link",target="_blank",rel="noopener noreferrer",
  href="#") 進行審查
  a.btn.btn-outline-primary(ld="primary-all-link",target="_blank", rel="noopener noreferrer",
  href="#") 瀏覽總表
